## 0. 설치

In [ ]:
## 0. INTRO

## 1. 설치

## 2. 데이터 읽기

## 3. 컬럼 다루기

## 4. Null 값 다루기

## 5. 데이터 타입 다루기

## 6. 데이터 필터링

## 7. ORDER BY

## 8. GROUP BY

## 9. JOIN

## 10. SQL

## 11. PARTITIONING

In [ ]:
!pip install polars

In [2]:
import polars as pl

cfg = pl.Config()
cfg.set_tbl_rows(100)

polars.config.Config

## 1. 데이터 읽기

In [2]:
## 파일 데이터 읽기

df = pl.read_csv("../dataset/emp.csv")

df.head()

shape: (5, 8)
┌────────────┬────────┬────────────┬────────────┬────────┬────────┬────────────────────┬───────────┐
│ First Name ┆ Gender ┆ Start Date ┆ Last Login ┆ Salary ┆ Bonus  ┆ Senior Management  ┆ Team      │
│ ---        ┆ ---    ┆ ---        ┆ Time       ┆ ---    ┆ ---    ┆ ---                ┆ ---       │
│ str        ┆ str    ┆ str        ┆ ---        ┆ i64    ┆ f64    ┆ bool               ┆ str       │
│            ┆        ┆            ┆ str        ┆        ┆        ┆                    ┆           │
╞════════════╪════════╪════════════╪════════════╪════════╪════════╪════════════════════╪═══════════╡
│ Douglas    ┆ Male   ┆ 8/6/1993   ┆ 12:42 PM   ┆ 97308  ┆ 6.945  ┆ true               ┆ Marketing │
│ Thomas     ┆ Male   ┆ 3/31/1996  ┆ 6:53 AM    ┆ 61933  ┆ 4.17   ┆ true               ┆ null      │
│ Maria      ┆ Female ┆ 4/23/1993  ┆ 11:17 AM   ┆ 130590 ┆ 11.858 ┆ false              ┆ Finance   │
│ Jerry      ┆ Male   ┆ 3/4/2005   ┆ 1:00 PM    ┆ 138705 ┆ 9.34   ┆ true               ┆ Finance   │
│ Larry      ┆ Male   ┆ 1/24/1998  ┆ 4:47 PM    ┆ 101004 ┆ 1.389  ┆ true               ┆ Client    │
│            ┆        ┆            ┆            ┆        ┆        ┆                    ┆ Services  │
└────────────┴────────┴────────────┴────────────┴────────┴────────┴────────────────────┴───────────┘

In [ ]:
type(df)

In [3]:
## 스키마 탐색

df.schema

Schema([('First Name', String),
        ('Gender', String),
        ('Start Date', String),
        ('Last Login Time', String),
        ('Salary', Int64),
        ('Bonus', Float64),
        ('Senior Management', Boolean),
        ('Team', String)])

In [4]:
## 컬럼 확인

df.columns

['First Name',
 'Gender',
 'Start Date',
 'Last Login Time',
 'Salary',
 'Bonus',
 'Senior Management',
 'Team']

In [5]:
## 컬럼 수치 정보 확인

df.describe()

shape: (9, 9)
┌────────────┬────────┬────────┬────────────┬───┬────────────┬───────────┬────────────┬────────────┐
│ statistic  ┆ First  ┆ Gender ┆ Start Date ┆ … ┆ Salary     ┆ Bonus     ┆ Senior     ┆ Team       │
│ ---        ┆ Name   ┆ ---    ┆ ---        ┆   ┆ ---        ┆ ---       ┆ Management ┆ ---        │
│ str        ┆ ---    ┆ str    ┆ str        ┆   ┆ f64        ┆ f64       ┆ ---        ┆ str        │
│            ┆ str    ┆        ┆            ┆   ┆            ┆           ┆ f64        ┆            │
╞════════════╪════════╪════════╪════════════╪═══╪════════════╪═══════════╪════════════╪════════════╡
│ count      ┆ 933    ┆ 855    ┆ 1000       ┆ … ┆ 1000.0     ┆ 1000.0    ┆ 933.0      ┆ 957        │
│ null_count ┆ 67     ┆ 145    ┆ 0          ┆ … ┆ 0.0        ┆ 0.0       ┆ 67.0       ┆ 43         │
│ mean       ┆ null   ┆ null   ┆ null       ┆ … ┆ 90662.181  ┆ 10.207555 ┆ 0.501608   ┆ null       │
│ std        ┆ null   ┆ null   ┆ null       ┆ … ┆ 32923.6933 ┆ 5.528481  ┆ null       ┆ null       │
│            ┆        ┆        ┆            ┆   ┆ 42         ┆           ┆            ┆            │
│ min        ┆ Aaron  ┆ Female ┆ 1/1/2014   ┆ … ┆ 35013.0    ┆ 1.015     ┆ 0.0        ┆ Business   │
│            ┆        ┆        ┆            ┆   ┆            ┆           ┆            ┆ Developmen │
│            ┆        ┆        ┆            ┆   ┆            ┆           ┆            ┆ t          │
│ 25%        ┆ null   ┆ null   ┆ null       ┆ … ┆ 62666.0    ┆ 5.413     ┆ null       ┆ null       │
│ 50%        ┆ null   ┆ null   ┆ null       ┆ … ┆ 90429.0    ┆ 9.849     ┆ null       ┆ null       │
│ 75%        ┆ null   ┆ null   ┆ null       ┆ … ┆ 118736.0   ┆ 14.837    ┆ null       ┆ null       │
│ max        ┆ Willie ┆ Male   ┆ 9/9/2006   ┆ … ┆ 149908.0   ┆ 19.944    ┆ 1.0        ┆ Sales      │
└────────────┴────────┴────────┴────────────┴───┴────────────┴───────────┴────────────┴────────────┘

## 2. 컬럼 다루기

In [ ]:
## 인덱스 컬럼 생성

df.with_row_index()

In [ ]:
## 특정 컬럼 데이터 선택

df['Gender']

df.get_column('Gender')

In [ ]:
## 여러 컬럼 선택

df[['Gender', 'Salary']]

df.select('Gender', 'Salary')

In [ ]:
## 새로운 컬럼 생성

df.head()

# Bonus에 대한 금액 계산 컬럼(surplus) 추가
df.with_columns(
    (df["Salary"]*df['Bonus']/100).round(2).alias('surplus')
    )

df.with_columns(
    (pl.col("Salary")*pl.col('Bonus')/100).round(2).alias('surplus')
    )

df.with_columns(
    surplus = (pl.col("Salary")*pl.col('Bonus')/100).round(2)
    )

In [ ]:
## 컬럼 이름 변경

rename_dict = {
        'Bonus' : 'bonus',
        'Gender' : 'gender'
        }

df.rename(rename_dict).head()

In [ ]:
## 컬럼 삭제

df.drop('Last Login Time')

## 3. Null 값 다루기

In [6]:
## 컬럼별 null값 확인

df.null_count()

shape: (1, 8)
┌────────────┬────────┬────────────┬─────────────────┬────────┬───────┬───────────────────┬──────┐
│ First Name ┆ Gender ┆ Start Date ┆ Last Login Time ┆ Salary ┆ Bonus ┆ Senior Management ┆ Team │
│ ---        ┆ ---    ┆ ---        ┆ ---             ┆ ---    ┆ ---   ┆ ---               ┆ ---  │
│ u32        ┆ u32    ┆ u32        ┆ u32             ┆ u32    ┆ u32   ┆ u32               ┆ u32  │
╞════════════╪════════╪════════════╪═════════════════╪════════╪═══════╪═══════════════════╪══════╡
│ 67         ┆ 145    ┆ 0          ┆ 0               ┆ 0      ┆ 0     ┆ 67                ┆ 43   │
└────────────┴────────┴────────────┴─────────────────┴────────┴───────┴───────────────────┴──────┘

In [ ]:
## 특정 컬럼 null값 확인

df['Gender'].is_null().sum()

In [ ]:
## null 채우기

df.fill_null(0)

df.fill_null(strategy='forward') # 'forward', 'backward', 'min', 'max', 'mean', 'zero', 'one'

In [ ]:
## null 없애기

# 전체 컬럼 대상
df.drop_nulls()

# 특정 컬럼 대상
df.drop_nulls(subset='Gender')

# 특정 타입 대상
import polars.selectors as cs

df.drop_nulls(subset=cs.string())

In [ ]:
## drop 대상 컬럼 저장 + drop 내용 바로 반영 (python의 pop과 비슷)

df.drop_in_place('Gender')

## 4. 데이터 타입 다루기

In [ ]:
# INT -> STRING 변경

df = df.with_columns(
    Salary = pl.col("Salary").cast(pl.String)
    )

In [27]:
# STRING -> INT 변경

df = df.with_columns(
    Salary = pl.col("Salary").cast(pl.Int32)
    )

In [8]:
# Start Date를 datetime 형식으로 변환
df = df.with_columns(
    pl.col("Start Date").str.strptime(pl.Date, format="%m/%d/%Y").alias("Start Date")
    )

# Last Login Time을 시간 형식으로 변환
df = df.with_columns(
    pl.col("Last Login Time").str.strptime(pl.Time, format="%I:%M %p").alias("Last Login Time")
    )

In [9]:
# 년, 월, 일 추출

df.with_columns(
    year = pl.col("Start Date").dt.year(),
    month = pl.col("Start Date").dt.month(),
    day = pl.col("Start Date").dt.day()
    ).head()

shape: (5, 11)
┌────────────┬────────┬────────────┬─────────────────┬───┬─────────────────┬──────┬───────┬─────┐
│ First Name ┆ Gender ┆ Start Date ┆ Last Login Time ┆ … ┆ Team            ┆ year ┆ month ┆ day │
│ ---        ┆ ---    ┆ ---        ┆ ---             ┆   ┆ ---             ┆ ---  ┆ ---   ┆ --- │
│ str        ┆ str    ┆ date       ┆ time            ┆   ┆ str             ┆ i32  ┆ i8    ┆ i8  │
╞════════════╪════════╪════════════╪═════════════════╪═══╪═════════════════╪══════╪═══════╪═════╡
│ Douglas    ┆ Male   ┆ 1993-08-06 ┆ 12:42:00        ┆ … ┆ Marketing       ┆ 1993 ┆ 8     ┆ 6   │
│ Thomas     ┆ Male   ┆ 1996-03-31 ┆ 06:53:00        ┆ … ┆ null            ┆ 1996 ┆ 3     ┆ 31  │
│ Maria      ┆ Female ┆ 1993-04-23 ┆ 11:17:00        ┆ … ┆ Finance         ┆ 1993 ┆ 4     ┆ 23  │
│ Jerry      ┆ Male   ┆ 2005-03-04 ┆ 13:00:00        ┆ … ┆ Finance         ┆ 2005 ┆ 3     ┆ 4   │
│ Larry      ┆ Male   ┆ 1998-01-24 ┆ 16:47:00        ┆ … ┆ Client Services ┆ 1998 ┆ 1     ┆ 24  │
└────────────┴────────┴────────────┴─────────────────┴───┴─────────────────┴──────┴───────┴─────┘

## 5. 데이터 필터링

In [ ]:
## 단일 조건 필터

df.filter(pl.col('Gender').is_null())

df.filter(pl.col('Gender') == 'Female')

df.filter(pl.col('Bonus') >= 10)

df.filter(pl.col('Bonus').is_between(8, 12))

df.filter(pl.col('Team').is_in(['Finance', 'Sales']))

In [ ]:
## 다중 필터

and_condition = (pl.col('Gender') == 'Female') & (pl.col('Bonus') >= 10)

or_condition = (pl.col('Gender') == 'Female') | (pl.col('Bonus') >= 10)

df.filter(and_condition)

In [ ]:
df.with_columns(
    pl.when(pl.col("Team").is_in(['Marketing', 'Engineering'])).then("P").otherwise("U").alias("val")
    )

In [ ]:
## 조건 필터(when)

df.with_columns(
    aaa = pl.when(pl.col("Salary") >= 100000).then(1).otherwise(0)
    ).head()

## 6. ORDER BY

In [ ]:
## 단일 컬럼 정렬

df.sort('Bonus')

df.sort(
    by='Bonus', 
    descending=True
    )

In [ ]:
## 다중 컬럼 정렬

df.sort(
    by=['Team', 'Salary'], 
    descending=[False, True],
    nulls_last=True
    )

In [42]:
df1 = df.head(10).sort("Salary")
df2 = df.tail(10).sort("Salary")

df1, df2

(shape: (10, 8)
 ┌────────────┬────────┬────────────┬───────────────┬────────┬────────┬──────────────┬──────────────┐
 │ First Name ┆ Gender ┆ Start Date ┆ Last Login    ┆ Salary ┆ Bonus  ┆ Senior       ┆ Team         │
 │ ---        ┆ ---    ┆ ---        ┆ Time          ┆ ---    ┆ ---    ┆ Management   ┆ ---          │
 │ str        ┆ str    ┆ date       ┆ ---           ┆ i32    ┆ f64    ┆ ---          ┆ str          │
 │            ┆        ┆            ┆ time          ┆        ┆        ┆ bool         ┆              │
 ╞════════════╪════════╪════════════╪═══════════════╪════════╪════════╪══════════════╪══════════════╡
 │ null       ┆ Female ┆ 2015-07-20 ┆ 10:43:00      ┆ 45906  ┆ 11.598 ┆ null         ┆ Finance      │
 │ Thomas     ┆ Male   ┆ 1996-03-31 ┆ 06:53:00      ┆ 61933  ┆ 4.17   ┆ true         ┆ null         │
 │ Ruby       ┆ Female ┆ 1987-08-17 ┆ 16:20:00      ┆ 65476  ┆ 10.012 ┆ true         ┆ Product      │
 │ Angela     ┆ Female ┆ 2005-11-22 ┆ 06:29:00      ┆ 95570  ┆ 18.523 ┆ true         ┆ Engineering  │
 │ Douglas    ┆ Male   ┆ 1993-08-06 ┆ 12:42:00      ┆ 97308  ┆ 6.945  ┆ true         ┆ Marketing    │
 │ Larry      ┆ Male   ┆ 1998-01-24 ┆ 16:47:00      ┆ 101004 ┆ 1.389  ┆ true         ┆ Client       │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Services     │
 │ Dennis     ┆ Male   ┆ 1987-04-18 ┆ 01:35:00      ┆ 115163 ┆ 10.125 ┆ false        ┆ Legal        │
 │ Maria      ┆ Female ┆ 1993-04-23 ┆ 11:17:00      ┆ 130590 ┆ 11.858 ┆ false        ┆ Finance      │
 │ Jerry      ┆ Male   ┆ 2005-03-04 ┆ 13:00:00      ┆ 138705 ┆ 9.34   ┆ true         ┆ Finance      │
 │ Frances    ┆ Female ┆ 2002-08-08 ┆ 06:51:00      ┆ 139852 ┆ 7.524  ┆ true         ┆ Business     │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Development  │
 └────────────┴────────┴────────────┴───────────────┴────────┴────────┴──────────────┴──────────────┘,
 shape: (10, 8)
 ┌────────────┬────────┬────────────┬───────────────┬────────┬────────┬──────────────┬──────────────┐
 │ First Name ┆ Gender ┆ Start Date ┆ Last Login    ┆ Salary ┆ Bonus  ┆ Senior       ┆ Team         │
 │ ---        ┆ ---    ┆ ---        ┆ Time          ┆ ---    ┆ ---    ┆ Management   ┆ ---          │
 │ str        ┆ str    ┆ date       ┆ ---           ┆ i32    ┆ f64    ┆ ---          ┆ str          │
 │            ┆        ┆            ┆ time          ┆        ┆        ┆ bool         ┆              │
 ╞════════════╪════════╪════════════╪═══════════════╪════════╪════════╪══════════════╪══════════════╡
 │ Phillip    ┆ Male   ┆ 1984-01-31 ┆ 06:30:00      ┆ 42392  ┆ 19.675 ┆ false        ┆ Finance      │
 │ Tina       ┆ Female ┆ 1997-05-15 ┆ 15:53:00      ┆ 56450  ┆ 19.04  ┆ true         ┆ Engineering  │
 │ Larry      ┆ Male   ┆ 2013-04-20 ┆ 16:45:00      ┆ 60500  ┆ 11.985 ┆ false        ┆ Business     │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Development  │
 │ Russell    ┆ Male   ┆ 2013-05-20 ┆ 12:39:00      ┆ 96914  ┆ 1.421  ┆ false        ┆ Product      │
 │ George     ┆ Male   ┆ 2013-06-21 ┆ 17:47:00      ┆ 98874  ┆ 4.479  ┆ true         ┆ Marketing    │
 │ Robin      ┆ Female ┆ 1987-07-24 ┆ 13:35:00      ┆ 100765 ┆ 10.982 ┆ true         ┆ Client       │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Services     │
 │ Anthony    ┆ Male   ┆ 2011-10-16 ┆ 08:35:00      ┆ 112769 ┆ 11.625 ┆ true         ┆ Finance      │
 │ Albert     ┆ Male   ┆ 2012-05-15 ┆ 18:24:00      ┆ 129949 ┆ 10.169 ┆ true         ┆ Sales        │
 │ Henry      ┆ null   ┆ 2014-11-23 ┆ 06:09:00      ┆ 132483 ┆ 16.655 ┆ false        ┆ Distribution │
 │ Rose       ┆ Female ┆ 2002-08-25 ┆ 05:12:00      ┆ 134505 ┆ 11.051 ┆ true         ┆ Marketing    │
 └────────────┴────────┴────────────┴───────────────┴────────┴────────┴──────────────┴──────────────┘)

In [43]:
"""
두 개의 df 특정 컬럼을 기준으로 정렬하여 merge한다.
단, 기존 df들의 순서를 바꾸지는 않는다.
"""

df1.merge_sorted(df2, 'Salary')

shape: (20, 8)
┌────────────┬────────┬────────────┬───────────────┬────────┬────────┬──────────────┬──────────────┐
│ First Name ┆ Gender ┆ Start Date ┆ Last Login    ┆ Salary ┆ Bonus  ┆ Senior       ┆ Team         │
│ ---        ┆ ---    ┆ ---        ┆ Time          ┆ ---    ┆ ---    ┆ Management   ┆ ---          │
│ str        ┆ str    ┆ date       ┆ ---           ┆ i32    ┆ f64    ┆ ---          ┆ str          │
│            ┆        ┆            ┆ time          ┆        ┆        ┆ bool         ┆              │
╞════════════╪════════╪════════════╪═══════════════╪════════╪════════╪══════════════╪══════════════╡
│ Phillip    ┆ Male   ┆ 1984-01-31 ┆ 06:30:00      ┆ 42392  ┆ 19.675 ┆ false        ┆ Finance      │
│ null       ┆ Female ┆ 2015-07-20 ┆ 10:43:00      ┆ 45906  ┆ 11.598 ┆ null         ┆ Finance      │
│ Tina       ┆ Female ┆ 1997-05-15 ┆ 15:53:00      ┆ 56450  ┆ 19.04  ┆ true         ┆ Engineering  │
│ Larry      ┆ Male   ┆ 2013-04-20 ┆ 16:45:00      ┆ 60500  ┆ 11.985 ┆ false        ┆ Business     │
│            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Development  │
│ Thomas     ┆ Male   ┆ 1996-03-31 ┆ 06:53:00      ┆ 61933  ┆ 4.17   ┆ true         ┆ null         │
│ Ruby       ┆ Female ┆ 1987-08-17 ┆ 16:20:00      ┆ 65476  ┆ 10.012 ┆ true         ┆ Product      │
│ Angela     ┆ Female ┆ 2005-11-22 ┆ 06:29:00      ┆ 95570  ┆ 18.523 ┆ true         ┆ Engineering  │
│ Russell    ┆ Male   ┆ 2013-05-20 ┆ 12:39:00      ┆ 96914  ┆ 1.421  ┆ false        ┆ Product      │
│ Douglas    ┆ Male   ┆ 1993-08-06 ┆ 12:42:00      ┆ 97308  ┆ 6.945  ┆ true         ┆ Marketing    │
│ George     ┆ Male   ┆ 2013-06-21 ┆ 17:47:00      ┆ 98874  ┆ 4.479  ┆ true         ┆ Marketing    │
│ Robin      ┆ Female ┆ 1987-07-24 ┆ 13:35:00      ┆ 100765 ┆ 10.982 ┆ true         ┆ Client       │
│            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Services     │
│ Larry      ┆ Male   ┆ 1998-01-24 ┆ 16:47:00      ┆ 101004 ┆ 1.389  ┆ true         ┆ Client       │
│            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Services     │
│ Anthony    ┆ Male   ┆ 2011-10-16 ┆ 08:35:00      ┆ 112769 ┆ 11.625 ┆ true         ┆ Finance      │
│ Dennis     ┆ Male   ┆ 1987-04-18 ┆ 01:35:00      ┆ 115163 ┆ 10.125 ┆ false        ┆ Legal        │
│ Albert     ┆ Male   ┆ 2012-05-15 ┆ 18:24:00      ┆ 129949 ┆ 10.169 ┆ true         ┆ Sales        │
│ Maria      ┆ Female ┆ 1993-04-23 ┆ 11:17:00      ┆ 130590 ┆ 11.858 ┆ false        ┆ Finance      │
│ Henry      ┆ null   ┆ 2014-11-23 ┆ 06:09:00      ┆ 132483 ┆ 16.655 ┆ false        ┆ Distribution │
│ Rose       ┆ Female ┆ 2002-08-25 ┆ 05:12:00      ┆ 134505 ┆ 11.051 ┆ true         ┆ Marketing    │
│ Jerry      ┆ Male   ┆ 2005-03-04 ┆ 13:00:00      ┆ 138705 ┆ 9.34   ┆ true         ┆ Finance      │
│ Frances    ┆ Female ┆ 2002-08-08 ┆ 06:51:00      ┆ 139852 ┆ 7.524  ┆ true         ┆ Business     │
│            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Development  │
└────────────┴────────┴────────────┴───────────────┴────────┴────────┴──────────────┴──────────────┘

## 7. GROUP BY

In [ ]:
# group by

df.group_by('Gender').agg(
    gender_cnt=pl.col('Gender').count()
    )

df.group_by('Gender').agg(
    pl.count('Gender').alias('gender_cnt')
    )

In [48]:
# group by + sort

df.group_by('Team').agg(
    cnt = pl.count('Team'),
    max_sal = pl.max('Salary'),
    mean_sal = pl.mean('Salary'),
    min_sal = pl.min('Salary'),
    mean_bonus = pl.mean('Bonus'),
    ).sort('mean_sal', descending=True)

shape: (11, 6)
┌──────────────────────┬─────┬─────────┬──────────────┬─────────┬────────────┐
│ Team                 ┆ cnt ┆ max_sal ┆ mean_sal     ┆ min_sal ┆ mean_bonus │
│ ---                  ┆ --- ┆ ---     ┆ ---          ┆ ---     ┆ ---        │
│ str                  ┆ u32 ┆ i32     ┆ f64          ┆ i32     ┆ f64        │
╞══════════════════════╪═════╪═════════╪══════════════╪═════════╪════════════╡
│ Engineering          ┆ 92  ┆ 147362  ┆ 94269.195652 ┆ 36946   ┆ 10.462989  │
│ Finance              ┆ 102 ┆ 149908  ┆ 92219.480392 ┆ 35381   ┆ 10.186873  │
│ Sales                ┆ 94  ┆ 149654  ┆ 92173.43617  ┆ 35802   ┆ 10.116915  │
│ Business Development ┆ 101 ┆ 147417  ┆ 91866.316832 ┆ 36844   ┆ 10.572376  │
│ Human Resources      ┆ 91  ┆ 149903  ┆ 90944.527473 ┆ 35203   ┆ 9.993879   │
│ null                 ┆ 0   ┆ 148291  ┆ 90763.139535 ┆ 37919   ┆ 10.384395  │
│ Marketing            ┆ 98  ┆ 149456  ┆ 90435.591837 ┆ 36643   ┆ 10.353449  │
│ Legal                ┆ 88  ┆ 148985  ┆ 89303.613636 ┆ 35061   ┆ 10.32283   │
│ Product              ┆ 95  ┆ 149684  ┆ 88665.505263 ┆ 35013   ┆ 9.791484   │
│ Distribution         ┆ 90  ┆ 149105  ┆ 88500.466667 ┆ 35575   ┆ 9.615644   │
│ Client Services      ┆ 106 ┆ 147183  ┆ 88224.424528 ┆ 35095   ┆ 10.495104  │
└──────────────────────┴─────┴─────────┴──────────────┴─────────┴────────────┘

In [ ]:
# group_by_dynamic
"""
시간 기반 데이터를 지정된 간격(예: 1일, 1시간)으로 그룹화할 때 사용하는 메소드,
시간 간격으로 window 크기를 정의하여 집계 작업 수행

group_by_dynamic(
    index_column         # 시간 기반 그룹화를 위한 타임스탬프 열을 지정
    every                # 그룹화 간격(예: '1d'는 1일 단위)
    period               # 그룹화 윈도우의 기간(기본값은 every와 동일)
    offset               # 그룹화 윈도우의 시작점을 조정하는 오프셋
    include_boundaries   # 그룹 경계(윈도우 시작 및 끝)을 결과에 포함할지 여부
    closed               # 윈도우 경계가 왼쪽, 오른쪽, 또는 양쪽에서 닫혔는지 지정
    group_by             # 추가로 그룹화할 컬럼 지정
)
"""

df.group_by_dynamic(
    index_column='battle_datetime',
    every="3h"
    ).agg(
        gb = pl.col('winner_id'),
        cnt = pl.col('id').count(),
        id_max = pl.col('winner_id').max(),
        id_min = pl.col('winner_id').min(),
        ).head()

In [ ]:
df.partition_by('battle_date')

In [ ]:
# window functions

df.with_columns(
    # row_number = pl.col('player1_id').over('battle_date').rank('ordinal'),
    max_id = pl.col('player1_id').over('battle_datetime').rank('ordinal')
    ).sort('battle_datetime')

## 8. JOIN

In [10]:
tp = pl.read_csv("../dataset/trainer_pokemon.csv")
pk = pl.read_csv("../dataset/pokemon.csv")

tp.columns, pk.columns

(['id',
  'trainer_id',
  'pokemon_id',
  'level',
  'experience_point',
  'current_health',
  'catch_date',
  'catch_datetime',
  'location',
  'status'],
 ['id',
  'kor_name',
  'eng_name',
  'type1',
  'type2',
  'total',
  'hp',
  'attack',
  'defense',
  'special_attack',
  'special_defense',
  'speed',
  'generation',
  'is_legendary'])

In [7]:
tp = tp.rename({"pokemon_id":"tp_id"})
pk = pk.rename({"id":"pk_id"})

tp.columns, pk.columns

(['id',
  'trainer_id',
  'tp_id',
  'level',
  'experience_point',
  'current_health',
  'catch_date',
  'catch_datetime',
  'location',
  'status'],
 ['pk_id',
  'kor_name',
  'eng_name',
  'type1',
  'type2',
  'total',
  'hp',
  'attack',
  'defense',
  'special_attack',
  'special_defense',
  'speed',
  'generation',
  'is_legendary'])

In [5]:
tp.join(
    other=pk,
    on='pokemon_id',
    how='left'
    ).head()

shape: (5, 23)
┌─────┬────────────┬────────────┬───────┬───┬─────────────────┬───────┬────────────┬──────────────┐
│ id  ┆ trainer_id ┆ pokemon_id ┆ level ┆ … ┆ special_defense ┆ speed ┆ generation ┆ is_legendary │
│ --- ┆ ---        ┆ ---        ┆ ---   ┆   ┆ ---             ┆ ---   ┆ ---        ┆ ---          │
│ i64 ┆ i64        ┆ i64        ┆ i64   ┆   ┆ i64             ┆ i64   ┆ i64        ┆ bool         │
╞═════╪════════════╪════════════╪═══════╪═══╪═════════════════╪═══════╪════════════╪══════════════╡
│ 1   ┆ 7          ┆ 25         ┆ 42    ┆ … ┆ 50              ┆ 90    ┆ 1          ┆ false        │
│ 2   ┆ 15         ┆ 6          ┆ 56    ┆ … ┆ 85              ┆ 100   ┆ 1          ┆ false        │
│ 3   ┆ 4          ┆ 12         ┆ 21    ┆ … ┆ 80              ┆ 70    ┆ 1          ┆ false        │
│ 4   ┆ 12         ┆ 19         ┆ 39    ┆ … ┆ 35              ┆ 72    ┆ 1          ┆ false        │
│ 5   ┆ 1          ┆ 143        ┆ 70    ┆ … ┆ 110             ┆ 30    ┆ 1          ┆ false        │
└─────┴────────────┴────────────┴───────┴───┴─────────────────┴───────┴────────────┴──────────────┘

In [9]:
tp.join(
    other=pk,
    left_on='tp_id',
    right_on='pk_id',
    how='left' # 'inner', 'left', 'right', 'full', 'semi', 'anti', 'cross'
    ).head()

shape: (5, 23)
┌─────┬────────────┬───────┬───────┬───┬─────────────────┬───────┬────────────┬──────────────┐
│ id  ┆ trainer_id ┆ tp_id ┆ level ┆ … ┆ special_defense ┆ speed ┆ generation ┆ is_legendary │
│ --- ┆ ---        ┆ ---   ┆ ---   ┆   ┆ ---             ┆ ---   ┆ ---        ┆ ---          │
│ i64 ┆ i64        ┆ i64   ┆ i64   ┆   ┆ i64             ┆ i64   ┆ i64        ┆ bool         │
╞═════╪════════════╪═══════╪═══════╪═══╪═════════════════╪═══════╪════════════╪══════════════╡
│ 1   ┆ 7          ┆ 25    ┆ 42    ┆ … ┆ 50              ┆ 90    ┆ 1          ┆ false        │
│ 2   ┆ 15         ┆ 6     ┆ 56    ┆ … ┆ 85              ┆ 100   ┆ 1          ┆ false        │
│ 3   ┆ 4          ┆ 12    ┆ 21    ┆ … ┆ 80              ┆ 70    ┆ 1          ┆ false        │
│ 4   ┆ 12         ┆ 19    ┆ 39    ┆ … ┆ 35              ┆ 72    ┆ 1          ┆ false        │
│ 5   ┆ 1          ┆ 143   ┆ 70    ┆ … ┆ 110             ┆ 30    ┆ 1          ┆ false        │
└─────┴────────────┴───────┴───────┴───┴─────────────────┴───────┴────────────┴──────────────┘

In [19]:
import polars as pl

df1 = pl.DataFrame({
    "time": [10, 20, 30],
    "value": ["a", "b", "c"]
})

df2 = pl.DataFrame({
    "time": [13, 23, 33],
    "value_2": ["x", "y", "z"]
})

# Asof Join 실행
df1.join_asof(
    df2, 
    on="time", 
    strategy='nearest' # 'backward', 'forward', 'nearest'
    ).head()

shape: (3, 3)
┌──────┬───────┬─────────┐
│ time ┆ value ┆ value_2 │
│ ---  ┆ ---   ┆ ---     │
│ i64  ┆ str   ┆ str     │
╞══════╪═══════╪═════════╡
│ 10   ┆ a     ┆ x       │
│ 20   ┆ b     ┆ y       │
│ 30   ┆ c     ┆ z       │
└──────┴───────┴─────────┘