## 0. 설치

In [ ]:
## 0. INTRO

## 1. 설치

## 2. 데이터 읽기

## 3. 컬럼 다루기

## 4. Null 값 다루기

## 5. 데이터 타입 다루기

## 6. 데이터 필터링

## 7. ORDER BY

## 8. GROUP BY

## 9. JOIN

## 10. SQL

## 11. PARTITIONING

In [ ]:
!pip install polars

In [1]:
import polars as pl

cfg = pl.Config()
cfg.set_tbl_rows(100)

polars.config.Config

## 1. 데이터 읽기

In [2]:
## 파일 데이터 읽기

df = pl.read_csv("../dataset/emp.csv")

df.head()

shape: (5, 8)
┌────────────┬────────┬────────────┬────────────┬────────┬────────┬────────────────────┬───────────┐
│ First Name ┆ Gender ┆ Start Date ┆ Last Login ┆ Salary ┆ Bonus  ┆ Senior Management  ┆ Team      │
│ ---        ┆ ---    ┆ ---        ┆ Time       ┆ ---    ┆ ---    ┆ ---                ┆ ---       │
│ str        ┆ str    ┆ str        ┆ ---        ┆ i64    ┆ f64    ┆ bool               ┆ str       │
│            ┆        ┆            ┆ str        ┆        ┆        ┆                    ┆           │
╞════════════╪════════╪════════════╪════════════╪════════╪════════╪════════════════════╪═══════════╡
│ Douglas    ┆ Male   ┆ 8/6/1993   ┆ 12:42 PM   ┆ 97308  ┆ 6.945  ┆ true               ┆ Marketing │
│ Thomas     ┆ Male   ┆ 3/31/1996  ┆ 6:53 AM    ┆ 61933  ┆ 4.17   ┆ true               ┆ null      │
│ Maria      ┆ Female ┆ 4/23/1993  ┆ 11:17 AM   ┆ 130590 ┆ 11.858 ┆ false              ┆ Finance   │
│ Jerry      ┆ Male   ┆ 3/4/2005   ┆ 1:00 PM    ┆ 138705 ┆ 9.34   ┆ true               ┆ Finance   │
│ Larry      ┆ Male   ┆ 1/24/1998  ┆ 4:47 PM    ┆ 101004 ┆ 1.389  ┆ true               ┆ Client    │
│            ┆        ┆            ┆            ┆        ┆        ┆                    ┆ Services  │
└────────────┴────────┴────────────┴────────────┴────────┴────────┴────────────────────┴───────────┘

In [ ]:
type(df)

In [3]:
## 스키마 탐색

df.schema

Schema([('First Name', String),
        ('Gender', String),
        ('Start Date', String),
        ('Last Login Time', String),
        ('Salary', Int64),
        ('Bonus', Float64),
        ('Senior Management', Boolean),
        ('Team', String)])

In [4]:
## 컬럼 확인

df.columns

['First Name',
 'Gender',
 'Start Date',
 'Last Login Time',
 'Salary',
 'Bonus',
 'Senior Management',
 'Team']

In [5]:
## 컬럼 수치 정보 확인

df.describe()

shape: (9, 9)
┌────────────┬────────┬────────┬────────────┬───┬────────────┬───────────┬────────────┬────────────┐
│ statistic  ┆ First  ┆ Gender ┆ Start Date ┆ … ┆ Salary     ┆ Bonus     ┆ Senior     ┆ Team       │
│ ---        ┆ Name   ┆ ---    ┆ ---        ┆   ┆ ---        ┆ ---       ┆ Management ┆ ---        │
│ str        ┆ ---    ┆ str    ┆ str        ┆   ┆ f64        ┆ f64       ┆ ---        ┆ str        │
│            ┆ str    ┆        ┆            ┆   ┆            ┆           ┆ f64        ┆            │
╞════════════╪════════╪════════╪════════════╪═══╪════════════╪═══════════╪════════════╪════════════╡
│ count      ┆ 933    ┆ 855    ┆ 1000       ┆ … ┆ 1000.0     ┆ 1000.0    ┆ 933.0      ┆ 957        │
│ null_count ┆ 67     ┆ 145    ┆ 0          ┆ … ┆ 0.0        ┆ 0.0       ┆ 67.0       ┆ 43         │
│ mean       ┆ null   ┆ null   ┆ null       ┆ … ┆ 90662.181  ┆ 10.207555 ┆ 0.501608   ┆ null       │
│ std        ┆ null   ┆ null   ┆ null       ┆ … ┆ 32923.6933 ┆ 5.528481  ┆ null       ┆ null       │
│            ┆        ┆        ┆            ┆   ┆ 42         ┆           ┆            ┆            │
│ min        ┆ Aaron  ┆ Female ┆ 1/1/2014   ┆ … ┆ 35013.0    ┆ 1.015     ┆ 0.0        ┆ Business   │
│            ┆        ┆        ┆            ┆   ┆            ┆           ┆            ┆ Developmen │
│            ┆        ┆        ┆            ┆   ┆            ┆           ┆            ┆ t          │
│ 25%        ┆ null   ┆ null   ┆ null       ┆ … ┆ 62666.0    ┆ 5.413     ┆ null       ┆ null       │
│ 50%        ┆ null   ┆ null   ┆ null       ┆ … ┆ 90429.0    ┆ 9.849     ┆ null       ┆ null       │
│ 75%        ┆ null   ┆ null   ┆ null       ┆ … ┆ 118736.0   ┆ 14.837    ┆ null       ┆ null       │
│ max        ┆ Willie ┆ Male   ┆ 9/9/2006   ┆ … ┆ 149908.0   ┆ 19.944    ┆ 1.0        ┆ Sales      │
└────────────┴────────┴────────┴────────────┴───┴────────────┴───────────┴────────────┴────────────┘

## 2. 컬럼 다루기

In [ ]:
## 인덱스 컬럼 생성

df.with_row_index()

In [ ]:
## 특정 컬럼 데이터 선택

df['Gender']

df.get_column('Gender')

In [ ]:
## 여러 컬럼 선택

df[['Gender', 'Salary']]

df.select('Gender', 'Salary')

In [ ]:
## 새로운 컬럼 생성

df.head()

# Bonus에 대한 금액 계산 컬럼(surplus) 추가
df.with_columns(
    (df["Salary"]*df['Bonus']/100).round(2).alias('surplus')
    )

df.with_columns(
    (pl.col("Salary")*pl.col('Bonus')/100).round(2).alias('surplus')
    )

df.with_columns(
    surplus = (pl.col("Salary")*pl.col('Bonus')/100).round(2)
    )

In [ ]:
## 컬럼 이름 변경

rename_dict = {
        'Bonus' : 'bonus',
        'Gender' : 'gender'
        }

df.rename(rename_dict).head()

In [ ]:
## 컬럼 삭제

df.drop('Last Login Time')

## 3. Null 값 다루기

In [6]:
## 컬럼별 null값 확인

df.null_count()

shape: (1, 8)
┌────────────┬────────┬────────────┬─────────────────┬────────┬───────┬───────────────────┬──────┐
│ First Name ┆ Gender ┆ Start Date ┆ Last Login Time ┆ Salary ┆ Bonus ┆ Senior Management ┆ Team │
│ ---        ┆ ---    ┆ ---        ┆ ---             ┆ ---    ┆ ---   ┆ ---               ┆ ---  │
│ u32        ┆ u32    ┆ u32        ┆ u32             ┆ u32    ┆ u32   ┆ u32               ┆ u32  │
╞════════════╪════════╪════════════╪═════════════════╪════════╪═══════╪═══════════════════╪══════╡
│ 67         ┆ 145    ┆ 0          ┆ 0               ┆ 0      ┆ 0     ┆ 67                ┆ 43   │
└────────────┴────────┴────────────┴─────────────────┴────────┴───────┴───────────────────┴──────┘

In [ ]:
## 특정 컬럼 null값 확인

df['Gender'].is_null().sum()

In [ ]:
## null 채우기

df.fill_null(0)

df.fill_null(strategy='forward') # 'forward', 'backward', 'min', 'max', 'mean', 'zero', 'one'

In [ ]:
## null 없애기

# 전체 컬럼 대상
df.drop_nulls()

# 특정 컬럼 대상
df.drop_nulls(subset='Gender')

# 특정 타입 대상
import polars.selectors as cs

df.drop_nulls(subset=cs.string())

In [ ]:
## drop 대상 컬럼 저장 + drop 내용 바로 반영 (python의 pop과 비슷)

df.drop_in_place('Gender')

## 4. 데이터 타입 다루기

In [ ]:
# INT -> STRING 변경

df = df.with_columns(
    Salary = pl.col("Salary").cast(pl.String)
    )

In [27]:
# STRING -> INT 변경

df = df.with_columns(
    Salary = pl.col("Salary").cast(pl.Int32)
    )

In [8]:
# Start Date를 datetime 형식으로 변환
df = df.with_columns(
    pl.col("Start Date").str.strptime(pl.Date, format="%m/%d/%Y").alias("Start Date")
    )

# Last Login Time을 시간 형식으로 변환
df = df.with_columns(
    pl.col("Last Login Time").str.strptime(pl.Time, format="%I:%M %p").alias("Last Login Time")
    )

In [9]:
# 년, 월, 일 추출

df.with_columns(
    year = pl.col("Start Date").dt.year(),
    month = pl.col("Start Date").dt.month(),
    day = pl.col("Start Date").dt.day()
    ).head()

shape: (5, 11)
┌────────────┬────────┬────────────┬─────────────────┬───┬─────────────────┬──────┬───────┬─────┐
│ First Name ┆ Gender ┆ Start Date ┆ Last Login Time ┆ … ┆ Team            ┆ year ┆ month ┆ day │
│ ---        ┆ ---    ┆ ---        ┆ ---             ┆   ┆ ---             ┆ ---  ┆ ---   ┆ --- │
│ str        ┆ str    ┆ date       ┆ time            ┆   ┆ str             ┆ i32  ┆ i8    ┆ i8  │
╞════════════╪════════╪════════════╪═════════════════╪═══╪═════════════════╪══════╪═══════╪═════╡
│ Douglas    ┆ Male   ┆ 1993-08-06 ┆ 12:42:00        ┆ … ┆ Marketing       ┆ 1993 ┆ 8     ┆ 6   │
│ Thomas     ┆ Male   ┆ 1996-03-31 ┆ 06:53:00        ┆ … ┆ null            ┆ 1996 ┆ 3     ┆ 31  │
│ Maria      ┆ Female ┆ 1993-04-23 ┆ 11:17:00        ┆ … ┆ Finance         ┆ 1993 ┆ 4     ┆ 23  │
│ Jerry      ┆ Male   ┆ 2005-03-04 ┆ 13:00:00        ┆ … ┆ Finance         ┆ 2005 ┆ 3     ┆ 4   │
│ Larry      ┆ Male   ┆ 1998-01-24 ┆ 16:47:00        ┆ … ┆ Client Services ┆ 1998 ┆ 1     ┆ 24  │
└────────────┴────────┴────────────┴─────────────────┴───┴─────────────────┴──────┴───────┴─────┘

## 5. 데이터 필터링

In [ ]:
## 단일 조건 필터

df.filter(pl.col('Gender').is_null())

df.filter(pl.col('Gender') == 'Female')

df.filter(pl.col('Bonus') >= 10)

df.filter(pl.col('Bonus').is_between(8, 12))

df.filter(pl.col('Team').is_in(['Finance', 'Sales']))

In [ ]:
## 다중 필터

and_condition = (pl.col('Gender') == 'Female') & (pl.col('Bonus') >= 10)

or_condition = (pl.col('Gender') == 'Female') | (pl.col('Bonus') >= 10)

df.filter(and_condition)

In [ ]:
df.with_columns(
    pl.when(pl.col("Team").is_in(['Marketing', 'Engineering'])).then("P").otherwise("U").alias("val")
    )

In [ ]:
## 조건 필터(when)

df.with_columns(
    aaa = pl.when(pl.col("Salary") >= 100000).then(1).otherwise(0)
    ).head()

## 6. ORDER BY

In [ ]:
## 단일 컬럼 정렬

df.sort('Bonus')

df.sort(
    by='Bonus', 
    descending=True
    )

In [ ]:
## 다중 컬럼 정렬

df.sort(
    by=['Team', 'Salary'], 
    descending=[False, True],
    nulls_last=True
    )

In [42]:
df1 = df.head(10).sort("Salary")
df2 = df.tail(10).sort("Salary")

df1, df2

(shape: (10, 8)
 ┌────────────┬────────┬────────────┬───────────────┬────────┬────────┬──────────────┬──────────────┐
 │ First Name ┆ Gender ┆ Start Date ┆ Last Login    ┆ Salary ┆ Bonus  ┆ Senior       ┆ Team         │
 │ ---        ┆ ---    ┆ ---        ┆ Time          ┆ ---    ┆ ---    ┆ Management   ┆ ---          │
 │ str        ┆ str    ┆ date       ┆ ---           ┆ i32    ┆ f64    ┆ ---          ┆ str          │
 │            ┆        ┆            ┆ time          ┆        ┆        ┆ bool         ┆              │
 ╞════════════╪════════╪════════════╪═══════════════╪════════╪════════╪══════════════╪══════════════╡
 │ null       ┆ Female ┆ 2015-07-20 ┆ 10:43:00      ┆ 45906  ┆ 11.598 ┆ null         ┆ Finance      │
 │ Thomas     ┆ Male   ┆ 1996-03-31 ┆ 06:53:00      ┆ 61933  ┆ 4.17   ┆ true         ┆ null         │
 │ Ruby       ┆ Female ┆ 1987-08-17 ┆ 16:20:00      ┆ 65476  ┆ 10.012 ┆ true         ┆ Product      │
 │ Angela     ┆ Female ┆ 2005-11-22 ┆ 06:29:00      ┆ 95570  ┆ 18.523 ┆ true         ┆ Engineering  │
 │ Douglas    ┆ Male   ┆ 1993-08-06 ┆ 12:42:00      ┆ 97308  ┆ 6.945  ┆ true         ┆ Marketing    │
 │ Larry      ┆ Male   ┆ 1998-01-24 ┆ 16:47:00      ┆ 101004 ┆ 1.389  ┆ true         ┆ Client       │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Services     │
 │ Dennis     ┆ Male   ┆ 1987-04-18 ┆ 01:35:00      ┆ 115163 ┆ 10.125 ┆ false        ┆ Legal        │
 │ Maria      ┆ Female ┆ 1993-04-23 ┆ 11:17:00      ┆ 130590 ┆ 11.858 ┆ false        ┆ Finance      │
 │ Jerry      ┆ Male   ┆ 2005-03-04 ┆ 13:00:00      ┆ 138705 ┆ 9.34   ┆ true         ┆ Finance      │
 │ Frances    ┆ Female ┆ 2002-08-08 ┆ 06:51:00      ┆ 139852 ┆ 7.524  ┆ true         ┆ Business     │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Development  │
 └────────────┴────────┴────────────┴───────────────┴────────┴────────┴──────────────┴──────────────┘,
 shape: (10, 8)
 ┌────────────┬────────┬────────────┬───────────────┬────────┬────────┬──────────────┬──────────────┐
 │ First Name ┆ Gender ┆ Start Date ┆ Last Login    ┆ Salary ┆ Bonus  ┆ Senior       ┆ Team         │
 │ ---        ┆ ---    ┆ ---        ┆ Time          ┆ ---    ┆ ---    ┆ Management   ┆ ---          │
 │ str        ┆ str    ┆ date       ┆ ---           ┆ i32    ┆ f64    ┆ ---          ┆ str          │
 │            ┆        ┆            ┆ time          ┆        ┆        ┆ bool         ┆              │
 ╞════════════╪════════╪════════════╪═══════════════╪════════╪════════╪══════════════╪══════════════╡
 │ Phillip    ┆ Male   ┆ 1984-01-31 ┆ 06:30:00      ┆ 42392  ┆ 19.675 ┆ false        ┆ Finance      │
 │ Tina       ┆ Female ┆ 1997-05-15 ┆ 15:53:00      ┆ 56450  ┆ 19.04  ┆ true         ┆ Engineering  │
 │ Larry      ┆ Male   ┆ 2013-04-20 ┆ 16:45:00      ┆ 60500  ┆ 11.985 ┆ false        ┆ Business     │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Development  │
 │ Russell    ┆ Male   ┆ 2013-05-20 ┆ 12:39:00      ┆ 96914  ┆ 1.421  ┆ false        ┆ Product      │
 │ George     ┆ Male   ┆ 2013-06-21 ┆ 17:47:00      ┆ 98874  ┆ 4.479  ┆ true         ┆ Marketing    │
 │ Robin      ┆ Female ┆ 1987-07-24 ┆ 13:35:00      ┆ 100765 ┆ 10.982 ┆ true         ┆ Client       │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Services     │
 │ Anthony    ┆ Male   ┆ 2011-10-16 ┆ 08:35:00      ┆ 112769 ┆ 11.625 ┆ true         ┆ Finance      │
 │ Albert     ┆ Male   ┆ 2012-05-15 ┆ 18:24:00      ┆ 129949 ┆ 10.169 ┆ true         ┆ Sales        │
 │ Henry      ┆ null   ┆ 2014-11-23 ┆ 06:09:00      ┆ 132483 ┆ 16.655 ┆ false        ┆ Distribution │
 │ Rose       ┆ Female ┆ 2002-08-25 ┆ 05:12:00      ┆ 134505 ┆ 11.051 ┆ true         ┆ Marketing    │
 └────────────┴────────┴────────────┴───────────────┴────────┴────────┴──────────────┴──────────────┘)

In [43]:
"""
두 개의 df 특정 컬럼을 기준으로 정렬하여 merge한다.
단, 기존 df들의 순서를 바꾸지는 않는다.
"""

df1.merge_sorted(df2, 'Salary')

shape: (20, 8)
┌────────────┬────────┬────────────┬───────────────┬────────┬────────┬──────────────┬──────────────┐
│ First Name ┆ Gender ┆ Start Date ┆ Last Login    ┆ Salary ┆ Bonus  ┆ Senior       ┆ Team         │
│ ---        ┆ ---    ┆ ---        ┆ Time          ┆ ---    ┆ ---    ┆ Management   ┆ ---          │
│ str        ┆ str    ┆ date       ┆ ---           ┆ i32    ┆ f64    ┆ ---          ┆ str          │
│            ┆        ┆            ┆ time          ┆        ┆        ┆ bool         ┆              │
╞════════════╪════════╪════════════╪═══════════════╪════════╪════════╪══════════════╪══════════════╡
│ Phillip    ┆ Male   ┆ 1984-01-31 ┆ 06:30:00      ┆ 42392  ┆ 19.675 ┆ false        ┆ Finance      │
│ null       ┆ Female ┆ 2015-07-20 ┆ 10:43:00      ┆ 45906  ┆ 11.598 ┆ null         ┆ Finance      │
│ Tina       ┆ Female ┆ 1997-05-15 ┆ 15:53:00      ┆ 56450  ┆ 19.04  ┆ true         ┆ Engineering  │
│ Larry      ┆ Male   ┆ 2013-04-20 ┆ 16:45:00      ┆ 60500  ┆ 11.985 ┆ false        ┆ Business     │
│            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Development  │
│ Thomas     ┆ Male   ┆ 1996-03-31 ┆ 06:53:00      ┆ 61933  ┆ 4.17   ┆ true         ┆ null         │
│ Ruby       ┆ Female ┆ 1987-08-17 ┆ 16:20:00      ┆ 65476  ┆ 10.012 ┆ true         ┆ Product      │
│ Angela     ┆ Female ┆ 2005-11-22 ┆ 06:29:00      ┆ 95570  ┆ 18.523 ┆ true         ┆ Engineering  │
│ Russell    ┆ Male   ┆ 2013-05-20 ┆ 12:39:00      ┆ 96914  ┆ 1.421  ┆ false        ┆ Product      │
│ Douglas    ┆ Male   ┆ 1993-08-06 ┆ 12:42:00      ┆ 97308  ┆ 6.945  ┆ true         ┆ Marketing    │
│ George     ┆ Male   ┆ 2013-06-21 ┆ 17:47:00      ┆ 98874  ┆ 4.479  ┆ true         ┆ Marketing    │
│ Robin      ┆ Female ┆ 1987-07-24 ┆ 13:35:00      ┆ 100765 ┆ 10.982 ┆ true         ┆ Client       │
│            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Services     │
│ Larry      ┆ Male   ┆ 1998-01-24 ┆ 16:47:00      ┆ 101004 ┆ 1.389  ┆ true         ┆ Client       │
│            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Services     │
│ Anthony    ┆ Male   ┆ 2011-10-16 ┆ 08:35:00      ┆ 112769 ┆ 11.625 ┆ true         ┆ Finance      │
│ Dennis     ┆ Male   ┆ 1987-04-18 ┆ 01:35:00      ┆ 115163 ┆ 10.125 ┆ false        ┆ Legal        │
│ Albert     ┆ Male   ┆ 2012-05-15 ┆ 18:24:00      ┆ 129949 ┆ 10.169 ┆ true         ┆ Sales        │
│ Maria      ┆ Female ┆ 1993-04-23 ┆ 11:17:00      ┆ 130590 ┆ 11.858 ┆ false        ┆ Finance      │
│ Henry      ┆ null   ┆ 2014-11-23 ┆ 06:09:00      ┆ 132483 ┆ 16.655 ┆ false        ┆ Distribution │
│ Rose       ┆ Female ┆ 2002-08-25 ┆ 05:12:00      ┆ 134505 ┆ 11.051 ┆ true         ┆ Marketing    │
│ Jerry      ┆ Male   ┆ 2005-03-04 ┆ 13:00:00      ┆ 138705 ┆ 9.34   ┆ true         ┆ Finance      │
│ Frances    ┆ Female ┆ 2002-08-08 ┆ 06:51:00      ┆ 139852 ┆ 7.524  ┆ true         ┆ Business     │
│            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Development  │
└────────────┴────────┴────────────┴───────────────┴────────┴────────┴──────────────┴──────────────┘

## 7. GROUP BY

In [ ]:
# group by

df.group_by('Gender').agg(
    gender_cnt=pl.col('Gender').count()
    )

df.group_by('Gender').agg(
    pl.count('Gender').alias('gender_cnt')
    )

In [48]:
# group by + sort

df.group_by('Team').agg(
    cnt = pl.count('Team'),
    max_sal = pl.max('Salary'),
    mean_sal = pl.mean('Salary'),
    min_sal = pl.min('Salary'),
    mean_bonus = pl.mean('Bonus'),
    ).sort('mean_sal', descending=True)

shape: (11, 6)
┌──────────────────────┬─────┬─────────┬──────────────┬─────────┬────────────┐
│ Team                 ┆ cnt ┆ max_sal ┆ mean_sal     ┆ min_sal ┆ mean_bonus │
│ ---                  ┆ --- ┆ ---     ┆ ---          ┆ ---     ┆ ---        │
│ str                  ┆ u32 ┆ i32     ┆ f64          ┆ i32     ┆ f64        │
╞══════════════════════╪═════╪═════════╪══════════════╪═════════╪════════════╡
│ Engineering          ┆ 92  ┆ 147362  ┆ 94269.195652 ┆ 36946   ┆ 10.462989  │
│ Finance              ┆ 102 ┆ 149908  ┆ 92219.480392 ┆ 35381   ┆ 10.186873  │
│ Sales                ┆ 94  ┆ 149654  ┆ 92173.43617  ┆ 35802   ┆ 10.116915  │
│ Business Development ┆ 101 ┆ 147417  ┆ 91866.316832 ┆ 36844   ┆ 10.572376  │
│ Human Resources      ┆ 91  ┆ 149903  ┆ 90944.527473 ┆ 35203   ┆ 9.993879   │
│ null                 ┆ 0   ┆ 148291  ┆ 90763.139535 ┆ 37919   ┆ 10.384395  │
│ Marketing            ┆ 98  ┆ 149456  ┆ 90435.591837 ┆ 36643   ┆ 10.353449  │
│ Legal                ┆ 88  ┆ 148985  ┆ 89303.613636 ┆ 35061   ┆ 10.32283   │
│ Product              ┆ 95  ┆ 149684  ┆ 88665.505263 ┆ 35013   ┆ 9.791484   │
│ Distribution         ┆ 90  ┆ 149105  ┆ 88500.466667 ┆ 35575   ┆ 9.615644   │
│ Client Services      ┆ 106 ┆ 147183  ┆ 88224.424528 ┆ 35095   ┆ 10.495104  │
└──────────────────────┴─────┴─────────┴──────────────┴─────────┴────────────┘

In [ ]:
# group_by_dynamic
"""
시간 기반 데이터를 지정된 간격(예: 1일, 1시간)으로 그룹화할 때 사용하는 메소드,
시간 간격으로 window 크기를 정의하여 집계 작업 수행

group_by_dynamic(
    index_column         # 시간 기반 그룹화를 위한 타임스탬프 열을 지정
    every                # 그룹화 간격(예: '1d'는 1일 단위)
    period               # 그룹화 윈도우의 기간(기본값은 every와 동일)
    offset               # 그룹화 윈도우의 시작점을 조정하는 오프셋
    include_boundaries   # 그룹 경계(윈도우 시작 및 끝)을 결과에 포함할지 여부
    closed               # 윈도우 경계가 왼쪽, 오른쪽, 또는 양쪽에서 닫혔는지 지정
    group_by             # 추가로 그룹화할 컬럼 지정
)
"""

df.group_by_dynamic(
    index_column='battle_datetime',
    every="3h"
    ).agg(
        gb = pl.col('winner_id'),
        cnt = pl.col('id').count(),
        id_max = pl.col('winner_id').max(),
        id_min = pl.col('winner_id').min(),
        ).head()

In [ ]:
df.partition_by('battle_date')

In [ ]:
# window functions

df.with_columns(
    # row_number = pl.col('player1_id').over('battle_date').rank('ordinal'),
    max_id = pl.col('player1_id').over('battle_datetime').rank('ordinal')
    ).sort('battle_datetime')

## 8. JOIN

In [61]:
tp = pl.read_csv("../dataset/trainer_pokemon.csv")
pk = pl.read_csv("../dataset/pokemon.csv")

In [62]:
pk = pk.rename({"id":"pokemon_id"})

pk.columns

['pokemon_id',
 'kor_name',
 'eng_name',
 'type1',
 'type2',
 'total',
 'hp',
 'attack',
 'defense',
 'special_attack',
 'special_defense',
 'speed',
 'generation',
 'is_legendary']

In [ ]:
tp.join(
    other=pk,
    on='pokemon_id'
    )

In [ ]:
tp.join(
    other=pk,
    left_on='pokemon_id',
    right_on='id',
    how='left'
    )

## 9. SQL

In [65]:
df.head()

shape: (5, 8)
┌────────────┬────────┬────────────┬────────────┬────────┬────────┬────────────────────┬───────────┐
│ First Name ┆ Gender ┆ Start Date ┆ Last Login ┆ Salary ┆ Bonus  ┆ Senior Management  ┆ Team      │
│ ---        ┆ ---    ┆ ---        ┆ Time       ┆ ---    ┆ ---    ┆ ---                ┆ ---       │
│ str        ┆ str    ┆ date       ┆ ---        ┆ i32    ┆ f64    ┆ bool               ┆ str       │
│            ┆        ┆            ┆ time       ┆        ┆        ┆                    ┆           │
╞════════════╪════════╪════════════╪════════════╪════════╪════════╪════════════════════╪═══════════╡
│ Douglas    ┆ Male   ┆ 1993-08-06 ┆ 12:42:00   ┆ 97308  ┆ 6.945  ┆ true               ┆ Marketing │
│ Thomas     ┆ Male   ┆ 1996-03-31 ┆ 06:53:00   ┆ 61933  ┆ 4.17   ┆ true               ┆ null      │
│ Maria      ┆ Female ┆ 1993-04-23 ┆ 11:17:00   ┆ 130590 ┆ 11.858 ┆ false              ┆ Finance   │
│ Jerry      ┆ Male   ┆ 2005-03-04 ┆ 13:00:00   ┆ 138705 ┆ 9.34   ┆ true               ┆ Finance   │
│ Larry      ┆ Male   ┆ 1998-01-24 ┆ 16:47:00   ┆ 101004 ┆ 1.389  ┆ true               ┆ Client    │
│            ┆        ┆            ┆            ┆        ┆        ┆                    ┆ Services  │
└────────────┴────────┴────────────┴────────────┴────────┴────────┴────────────────────┴───────────┘

In [68]:
# dataframe에 대해 SQL로 조회하기

df.sql("SELECT * FROM self LIMIT 5")

pl.sql("SELECT * FROM df LIMIT 5").collect()

shape: (5, 8)
┌────────────┬────────┬────────────┬────────────┬────────┬────────┬────────────────────┬───────────┐
│ First Name ┆ Gender ┆ Start Date ┆ Last Login ┆ Salary ┆ Bonus  ┆ Senior Management  ┆ Team      │
│ ---        ┆ ---    ┆ ---        ┆ Time       ┆ ---    ┆ ---    ┆ ---                ┆ ---       │
│ str        ┆ str    ┆ date       ┆ ---        ┆ i32    ┆ f64    ┆ bool               ┆ str       │
│            ┆        ┆            ┆ time       ┆        ┆        ┆                    ┆           │
╞════════════╪════════╪════════════╪════════════╪════════╪════════╪════════════════════╪═══════════╡
│ Douglas    ┆ Male   ┆ 1993-08-06 ┆ 12:42:00   ┆ 97308  ┆ 6.945  ┆ true               ┆ Marketing │
│ Thomas     ┆ Male   ┆ 1996-03-31 ┆ 06:53:00   ┆ 61933  ┆ 4.17   ┆ true               ┆ null      │
│ Maria      ┆ Female ┆ 1993-04-23 ┆ 11:17:00   ┆ 130590 ┆ 11.858 ┆ false              ┆ Finance   │
│ Jerry      ┆ Male   ┆ 2005-03-04 ┆ 13:00:00   ┆ 138705 ┆ 9.34   ┆ true               ┆ Finance   │
│ Larry      ┆ Male   ┆ 1998-01-24 ┆ 16:47:00   ┆ 101004 ┆ 1.389  ┆ true               ┆ Client    │
│            ┆        ┆            ┆            ┆        ┆        ┆                    ┆ Services  │
└────────────┴────────┴────────────┴────────────┴────────┴────────┴────────────────────┴───────────┘

In [72]:
# SQLContext 객체 생성

ctx = pl.SQLContext(
    register_globals=False, # 해당 메모리에 있는 dataframe을 다 테이블로 등록하는 설정
    eager=True # 지연 평가(lazy evaluation) 대신 즉시 실행(eager evaluation)을 사용할지 여부를 설정
)

In [73]:
# 해당 객체 안에 있는 테이블 확인

ctx.tables()

[]

In [74]:
# 객체에 테이블 등록

tp = pl.read_csv("../dataset/trainer_pokemon.csv")
pk = pl.read_csv("../dataset/pokemon.csv")

ctx.register_many(
    trainer_pokemon=tp, # 테이블 이름 : DF 이름
    pokemon=pk
)

ctx.tables()

['pokemon', 'trainer_pokemon']

In [75]:
# 등록된 테이블 조회

with ctx:
    # ctx._eager_execution=True
    pk = ctx.execute("SELECT type1, COUNT(type1) AS cnt FROM pokemon GROUP BY type1 ORDER BY cnt DESC")
    display(pk)

shape: (17, 2)
┌──────────┬─────┐
│ type1    ┆ cnt │
│ ---      ┆ --- │
│ str      ┆ u32 │
╞══════════╪═════╡
│ Water    ┆ 46  │
│ Normal   ┆ 37  │
│ Bug      ┆ 22  │
│ Grass    ┆ 21  │
│ Fire     ┆ 20  │
│ Psychic  ┆ 15  │
│ Electric ┆ 15  │
│ Poison   ┆ 15  │
│ Rock     ┆ 13  │
│ Ground   ┆ 11  │
│ Fighting ┆ 9   │
│ Fairy    ┆ 7   │
│ Ice      ┆ 6   │
│ Dark     ┆ 5   │
│ Ghost    ┆ 4   │
│ Dragon   ┆ 3   │
│ Steel    ┆ 2   │
└──────────┴─────┘

In [76]:
with pl.SQLContext(
    register_globals=True,
    eager=True # collect를 사용하지 않아도 되는 DF 타입으로 바로 읽음
    ) as ctx:
    tdf = ctx.execute("SELECT * FROM tp LIMIT 5")
    display(tdf)

shape: (5, 10)
┌─────┬────────────┬────────────┬───────┬───┬────────────┬──────────────────┬──────────┬────────┐
│ id  ┆ trainer_id ┆ pokemon_id ┆ level ┆ … ┆ catch_date ┆ catch_datetime   ┆ location ┆ status │
│ --- ┆ ---        ┆ ---        ┆ ---   ┆   ┆ ---        ┆ ---              ┆ ---      ┆ ---    │
│ i64 ┆ i64        ┆ i64        ┆ i64   ┆   ┆ str        ┆ str              ┆ str      ┆ str    │
╞═════╪════════════╪════════════╪═══════╪═══╪════════════╪══════════════════╪══════════╪════════╡
│ 1   ┆ 7          ┆ 25         ┆ 42    ┆ … ┆ 2024-02-14 ┆ 2024-02-14 5:27  ┆ Seoul    ┆ Active │
│ 2   ┆ 15         ┆ 6          ┆ 56    ┆ … ┆ 2024-03-10 ┆ 2024-03-10 20:27 ┆ Busan    ┆ Active │
│ 3   ┆ 4          ┆ 12         ┆ 21    ┆ … ┆ 2024-01-05 ┆ 2024-01-05 14:28 ┆ Incheon  ┆ Active │
│ 4   ┆ 12         ┆ 19         ┆ 39    ┆ … ┆ 2024-02-28 ┆ 2024-02-28 22:39 ┆ Gwangju  ┆ Active │
│ 5   ┆ 1          ┆ 143        ┆ 70    ┆ … ┆ 2024-05-22 ┆ 2024-05-22 20:58 ┆ Daejeon  ┆ Active │
└─────┴────────────┴────────────┴───────┴───┴────────────┴──────────────────┴──────────┴────────┘

## 10. PARTITIONING

In [ ]:
# 특정 컬럼을 기준으로 파티션 나누어 출력

df.partition_by('Gender')

[shape: (424, 8)
 ┌─────────────┬────────┬────────────┬──────────────┬────────┬────────┬──────────────┬──────────────┐
 │ First Name  ┆ Gender ┆ Start Date ┆ Last Login   ┆ Salary ┆ Bonus  ┆ Senior       ┆ Team         │
 │ ---         ┆ ---    ┆ ---        ┆ Time         ┆ ---    ┆ ---    ┆ Management   ┆ ---          │
 │ str         ┆ str    ┆ date       ┆ ---          ┆ i32    ┆ f64    ┆ ---          ┆ str          │
 │             ┆        ┆            ┆ time         ┆        ┆        ┆ bool         ┆              │
 ╞═════════════╪════════╪════════════╪══════════════╪════════╪════════╪══════════════╪══════════════╡
 │ Douglas     ┆ Male   ┆ 1993-08-06 ┆ 12:42:00     ┆ 97308  ┆ 6.945  ┆ true         ┆ Marketing    │
 │ Thomas      ┆ Male   ┆ 1996-03-31 ┆ 06:53:00     ┆ 61933  ┆ 4.17   ┆ true         ┆ null         │
 │ Jerry       ┆ Male   ┆ 2005-03-04 ┆ 13:00:00     ┆ 138705 ┆ 9.34   ┆ true         ┆ Finance      │
 │ Larry       ┆ Male   ┆ 1998-01-24 ┆ 16:47:00     ┆ 101004 ┆ 1.389  ┆ true         ┆ Client       │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Services     │
 │ Dennis      ┆ Male   ┆ 1987-04-18 ┆ 01:35:00     ┆ 115163 ┆ 10.125 ┆ false        ┆ Legal        │
 │ Brandon     ┆ Male   ┆ 1980-12-01 ┆ 01:08:00     ┆ 112807 ┆ 17.492 ┆ true         ┆ Human        │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Resources    │
 │ Gary        ┆ Male   ┆ 2008-01-27 ┆ 23:40:00     ┆ 109831 ┆ 5.831  ┆ false        ┆ Sales        │
 │ Jeremy      ┆ Male   ┆ 2010-09-21 ┆ 05:56:00     ┆ 90370  ┆ 7.369  ┆ false        ┆ Human        │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Resources    │
 │ Shawn       ┆ Male   ┆ 1986-12-07 ┆ 19:45:00     ┆ 111737 ┆ 6.414  ┆ false        ┆ Product      │
 │ Matthew     ┆ Male   ┆ 1995-09-05 ┆ 02:12:00     ┆ 100612 ┆ 13.645 ┆ false        ┆ Marketing    │
 │ null        ┆ Male   ┆ 2012-06-14 ┆ 16:19:00     ┆ 125792 ┆ 5.042  ┆ null         ┆ null         │
 │ John        ┆ Male   ┆ 1992-07-01 ┆ 22:08:00     ┆ 97950  ┆ 13.873 ┆ false        ┆ Client       │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Services     │
 │ null        ┆ Male   ┆ 2012-10-08 ┆ 01:12:00     ┆ 37076  ┆ 18.576 ┆ null         ┆ Client       │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Services     │
 │ Craig       ┆ Male   ┆ 2000-02-27 ┆ 07:45:00     ┆ 37598  ┆ 7.757  ┆ true         ┆ Marketing    │
 │ Terry       ┆ Male   ┆ 1981-11-27 ┆ 18:30:00     ┆ 124008 ┆ 13.464 ┆ true         ┆ Client       │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Services     │
 │ Benjamin    ┆ Male   ┆ 2005-01-26 ┆ 22:06:00     ┆ 79529  ┆ 7.008  ┆ true         ┆ Legal        │
 │ null        ┆ Male   ┆ 1998-08-21 ┆ 14:27:00     ┆ 122340 ┆ 6.417  ┆ null         ┆ null         │
 │ Jerry       ┆ Male   ┆ 2004-01-10 ┆ 12:56:00     ┆ 95734  ┆ 19.096 ┆ false        ┆ Client       │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Services     │
 │ null        ┆ Male   ┆ 2016-01-29 ┆ 02:33:00     ┆ 122173 ┆ 7.797  ┆ null         ┆ Client       │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Services     │
 │ Michael     ┆ Male   ┆ 2008-10-10 ┆ 11:25:00     ┆ 99283  ┆ 2.665  ┆ true         ┆ Distribution │
 │ Roger       ┆ Male   ┆ 1980-04-17 ┆ 11:32:00     ┆ 88010  ┆ 13.886 ┆ true         ┆ Sales        │
 │ Bruce       ┆ Male   ┆ 2009-11-28 ┆ 22:47:00     ┆ 114796 ┆ 6.796  ┆ false        ┆ Finance      │
 │ Clarence    ┆ Male   ┆ 1996-03-26 ┆ 05:57:00     ┆ 93581  ┆ 6.083  ┆ true         ┆ Business     │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Development  │
 │ Todd        ┆ Male   ┆ 1990-02-18 ┆ 02:41:00     ┆ 49339  ┆ 1.695  ┆ true         ┆ Human        │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Resources    │
 │ Carl        ┆ Male   ┆ 2006-05-03 ┆ 17:55:00     ┆ 130276 ┆ 16.084 ┆ true         ┆ Finance      │
 │ Henry       ┆ Male   ┆ 1996-06-26 ┆ 01:44:00     ┆ 64715  ┆ 15.107 ┆ true         ┆ Human        │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Resources    │
 │ Matthew     ┆ Male   ┆ 2013-01-02 ┆ 22:33:00     ┆ 35203  ┆ 18.04  ┆ false        ┆ Human        │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Resources    │
 │ Steve       ┆ Male   ┆ 2009-11-11 ┆ 23:44:00     ┆ 61310  ┆ 12.428 ┆ true         ┆ Distribution │
 │ Jose        ┆ Male   ┆ 2004-10-30 ┆ 13:39:00     ┆ 84834  ┆ 14.33  ┆ true         ┆ Finance      │
 │ Johnny      ┆ Male   ┆ 2009-11-06 ┆ 16:23:00     ┆ 118172 ┆ 16.194 ┆ true         ┆ Sales        │
 │ Bobby       ┆ Male   ┆ 2007-05-07 ┆ 10:01:00     ┆ 54043  ┆ 3.833  ┆ false        ┆ Product      │
 │ Thomas      ┆ Male   ┆ 1995-06-04 ┆ 14:24:00     ┆ 62096  ┆ 17.029 ┆ false        ┆ Marketing    │
 │ Charles     ┆ Male   ┆ 2004-09-14 ┆ 20:13:00     ┆ 107391 ┆ 1.26   ┆ true         ┆ Marketing    │
 │ Christopher ┆ Male   ┆ 2008-03-30 ┆ 10:52:00     ┆ 47369  ┆ 14.822 ┆ false        ┆ Legal        │
 │ Steven      ┆ Male   ┆ 1980-03-30 ┆ 21:20:00     ┆ 35095  ┆ 8.379  ┆ true         ┆ Client       │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Services     │
 │ Shawn       ┆ Male   ┆ 2005-09-23 ┆ 02:55:00     ┆ 148115 ┆ 6.539  ┆ true         ┆ Finance      │
 │ Jeremy      ┆ Male   ┆ 2008-02-01 ┆ 08:50:00     ┆ 100238 ┆ 3.887  ┆ true         ┆ Client       │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Services     │
 │ Harry       ┆ Male   ┆ 1981-08-26 ┆ 15:16:00     ┆ 130620 ┆ 7.03   ┆ false        ┆ Legal        │
 │ Harold      ┆ Male   ┆ 1985-01-02 ┆ 21:40:00     ┆ 77544  ┆ 12.447 ┆ false        ┆ Business     │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Development  │
 │ Aaron       ┆ Male   ┆ 2012-02-17 ┆ 10:20:00     ┆ 61602  ┆ 11.849 ┆ true         ┆ Marketing    │
 │ Jack        ┆ Male   ┆ 1997-01-12 ┆ 05:51:00     ┆ 103902 ┆ 12.159 ┆ false        ┆ Client       │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Services     │
 │ John        ┆ Male   ┆ 1989-12-23 ┆ 07:01:00     ┆ 80740  ┆ 19.305 ┆ false        ┆ Marketing    │
 │ Paul        ┆ Male   ┆ 1993-08-04 ┆ 19:25:00     ┆ 42146  ┆ 3.046  ┆ false        ┆ Legal        │
 │ Steven      ┆ Male   ┆ 2013-04-23 ┆ 22:12:00     ┆ 68680  ┆ 16.565 ┆ false        ┆ Legal        │
 │ Christopher ┆ Male   ┆ 2000-04-22 ┆ 10:15:00     ┆ 37919  ┆ 11.449 ┆ false        ┆ null         │
 │ Willie      ┆ Male   ┆ 2003-11-27 ┆ 06:21:00     ┆ 64363  ┆ 4.023  ┆ false        ┆ Marketing    │
 │ null        ┆ Male   ┆ 1991-06-22 ┆ 20:58:00     ┆ 76189  ┆ 18.988 ┆ null         ┆ Legal        │
 │ Steven      ┆ Male   ┆ 1995-03-01 ┆ 15:03:00     ┆ 109095 ┆ 9.494  ┆ false        ┆ Finance      │
 │ Paul        ┆ Male   ┆ 2008-06-03 ┆ 15:05:00     ┆ 41054  ┆ 12.299 ┆ false        ┆ Marketing    │
 │ Peter       ┆ Male   ┆ 1994-11-17 ┆ 18:15:00     ┆ 84885  ┆ 15.402 ┆ false        ┆ Business     │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Development  │
 │ …           ┆ …      ┆ …          ┆ …            ┆ …      ┆ …      ┆ …            ┆ …            │
 │ Anthony     ┆ Male   ┆ 2014-01-30 ┆ 21:04:00     ┆ 96795  ┆ 14.837 ┆ false        ┆ Sales        │
 │ David       ┆ Male   ┆ 2009-12-05 ┆ 08:48:00     ┆ 92242  ┆ 15.407 ┆ false        ┆ Legal        │
 │ null        ┆ Male   ┆ 2015-11-24 ┆ 03:11:00     ┆ 145329 ┆ 7.1    ┆ null         ┆ Finance      │
 │ Timothy     ┆ Male   ┆ 1991-08-25 ┆ 10:37:00     ┆ 92587  ┆ 8.475  ┆ false        ┆ Finance      │
 │ Brandon     ┆ Male   ┆ 1995-10-23 ┆ 12:04:00     ┆ 60263  ┆ 2.709  ┆ false        ┆ Sales        │
 │ Frank       ┆ Male   ┆ 2013-07-27 ┆ 16:32:00     ┆ 91406  ┆ 5.681  ┆ true         ┆ Business     │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Development  │
 │ Victor      ┆ Male   ┆ 2010-03-10 ┆ 17:01:00     ┆ 45267  ┆ 3.942  ┆ true         ┆ Sales        │
 │ Walter      ┆ Male   ┆ 1992-05-21 ┆ 00:39:00     ┆ 144701 ┆ 16.323 ┆ true         ┆ Marketing    │
 │ null        ┆ Male   ┆ 2001-05-23 ┆ 19:52:00     ┆ 103877 ┆ 6.322  ┆ null         ┆ Distribution │
 │ Donald      ┆ Male   ┆ 1991-08-01 ┆ 02:25:00     ┆ 61999  ┆ 6.466  ┆ false        ┆ Product      │
 │ Carl        ┆ Male   ┆ 2010-07-07 ┆ 13:33:00     ┆ 54033  ┆ 15.528 ┆ true         ┆ Business     │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Development  │
 │ Joe         ┆ Male   ┆ 1998-12-08 ┆ 10:28:00     ┆ 126120 ┆ 1.02   ┆ false        ┆ null         │
 │ Todd        ┆ Male   ┆ 1983-01-04 ┆ 12:34:00     ┆ 115566 ┆ 6.716  ┆ true         ┆ Client       │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Services     │
 │ Shawn       ┆ Male   ┆ 2008-03-13 ┆ 17:36:00     ┆ 51667  ┆ 6.339  ┆ false        ┆ Product      │
 │ Ryan        ┆ Male   ┆ 1999-04-27 ┆ 03:41:00     ┆ 85858  ┆ 19.475 ┆ false        ┆ Client       │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Services     │
 │ Sean        ┆ Male   ┆ 2009-03-21 ┆ 11:38:00     ┆ 131423 ┆ 8.957  ┆ false        ┆ Distribution │
 │ George      ┆ Male   ┆ 2015-06-05 ┆ 05:40:00     ┆ 50369  ┆ 18.9   ┆ true         ┆ Sales        │
 │ Arthur      ┆ Male   ┆ 2013-12-05 ┆ 08:44:00     ┆ 86615  ┆ 3.412  ┆ true         ┆ Business     │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Development  │
 │ Philip      ┆ Male   ┆ 2005-03-11 ┆ 10:56:00     ┆ 103557 ┆ 16.014 ┆ true         ┆ Business     │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Development  │
 │ Jeffrey     ┆ Male   ┆ 1986-09-20 ┆ 06:06:00     ┆ 111376 ┆ 2.673  ┆ true         ┆ Business     │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Development  │
 │ Harold      ┆ Male   ┆ 2012-06-23 ┆ 12:40:00     ┆ 140444 ┆ 3.771  ┆ false        ┆ Distribution │
 │ Samuel      ┆ Male   ┆ 1997-08-07 ┆ 12:40:00     ┆ 43694  ┆ 3.787  ┆ true         ┆ Engineering  │
 │ Andrew      ┆ Male   ┆ 1990-09-28 ┆ 09:38:00     ┆ 137386 ┆ 8.611  ┆ true         ┆ Distribution │
 │ William     ┆ Male   ┆ 1997-06-26 ┆ 08:33:00     ┆ 104840 ┆ 15.653 ┆ true         ┆ Engineering  │
 │ Wayne       ┆ Male   ┆ 2006-09-08 ┆ 11:09:00     ┆ 67471  ┆ 2.728  ┆ false        ┆ Engineering  │
 │ Kenneth     ┆ Male   ┆ 2006-05-10 ┆ 08:24:00     ┆ 101914 ┆ 1.905  ┆ true         ┆ Distribution │
 │ null        ┆ Male   ┆ 2012-07-30 ┆ 15:07:00     ┆ 107351 ┆ 5.329  ┆ null         ┆ Marketing    │
 │ Scott       ┆ Male   ┆ 2011-08-20 ┆ 08:08:00     ┆ 37385  ┆ 8.226  ┆ true         ┆ Business     │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Development  │
 │ Randy       ┆ Male   ┆ 2012-02-25 ┆ 05:33:00     ┆ 57266  ┆ 14.077 ┆ false        ┆ Product      │
 │ Joe         ┆ Male   ┆ 1980-01-19 ┆ 16:06:00     ┆ 119667 ┆ 1.148  ┆ true         ┆ Finance      │
 │ Jeffrey     ┆ Male   ┆ 1984-02-03 ┆ 13:26:00     ┆ 70990  ┆ 15.901 ┆ true         ┆ Sales        │
 │ Albert      ┆ Male   ┆ 1992-09-19 ┆ 02:35:00     ┆ 45094  ┆ 5.85   ┆ true         ┆ Business     │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Development  │
 │ Stephen     ┆ Male   ┆ 1989-10-29 ┆ 23:34:00     ┆ 93997  ┆ 18.093 ┆ true         ┆ Business     │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Development  │
 │ Jonathan    ┆ Male   ┆ 2013-08-21 ┆ 00:45:00     ┆ 121797 ┆ 16.923 ┆ false        ┆ Product      │
 │ Bruce       ┆ Male   ┆ 1980-05-07 ┆ 20:00:00     ┆ 35802  ┆ 12.391 ┆ true         ┆ Sales        │
 │ Louis       ┆ Male   ┆ 2011-08-16 ┆ 17:19:00     ┆ 93022  ┆ 9.146  ┆ true         ┆ Human        │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Resources    │
 │ Thomas      ┆ Male   ┆ 2016-03-12 ┆ 15:10:00     ┆ 105681 ┆ 19.572 ┆ false        ┆ Engineering  │
 │ Patrick     ┆ Male   ┆ 2002-12-30 ┆ 02:01:00     ┆ 75423  ┆ 5.368  ┆ true         ┆ Business     │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Development  │
 │ Russell     ┆ Male   ┆ 2013-05-10 ┆ 23:08:00     ┆ 137359 ┆ 11.105 ┆ false        ┆ Business     │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Development  │
 │ Harry       ┆ Male   ┆ 2011-08-30 ┆ 18:31:00     ┆ 67656  ┆ 16.455 ┆ true         ┆ Client       │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Services     │
 │ Sean        ┆ Male   ┆ 1983-01-17 ┆ 14:23:00     ┆ 66146  ┆ 11.178 ┆ false        ┆ Human        │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Resources    │
 │ Ernest      ┆ Male   ┆ 2013-07-20 ┆ 06:41:00     ┆ 142935 ┆ 13.198 ┆ true         ┆ Product      │
 │ James       ┆ Male   ┆ 1993-01-15 ┆ 17:19:00     ┆ 148985 ┆ 19.28  ┆ false        ┆ Legal        │
 │ John        ┆ Male   ┆ 1982-12-23 ┆ 22:35:00     ┆ 146907 ┆ 11.738 ┆ false        ┆ Engineering  │
 │ Anthony     ┆ Male   ┆ 2011-10-16 ┆ 08:35:00     ┆ 112769 ┆ 11.625 ┆ true         ┆ Finance      │
 │ George      ┆ Male   ┆ 2013-06-21 ┆ 17:47:00     ┆ 98874  ┆ 4.479  ┆ true         ┆ Marketing    │
 │ Phillip     ┆ Male   ┆ 1984-01-31 ┆ 06:30:00     ┆ 42392  ┆ 19.675 ┆ false        ┆ Finance      │
 │ Russell     ┆ Male   ┆ 2013-05-20 ┆ 12:39:00     ┆ 96914  ┆ 1.421  ┆ false        ┆ Product      │
 │ Larry       ┆ Male   ┆ 2013-04-20 ┆ 16:45:00     ┆ 60500  ┆ 11.985 ┆ false        ┆ Business     │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Development  │
 │ Albert      ┆ Male   ┆ 2012-05-15 ┆ 18:24:00     ┆ 129949 ┆ 10.169 ┆ true         ┆ Sales        │
 └─────────────┴────────┴────────────┴──────────────┴────────┴────────┴──────────────┴──────────────┘,
 shape: (431, 8)
 ┌────────────┬────────┬────────────┬───────────────┬────────┬────────┬──────────────┬──────────────┐
 │ First Name ┆ Gender ┆ Start Date ┆ Last Login    ┆ Salary ┆ Bonus  ┆ Senior       ┆ Team         │
 │ ---        ┆ ---    ┆ ---        ┆ Time          ┆ ---    ┆ ---    ┆ Management   ┆ ---          │
 │ str        ┆ str    ┆ date       ┆ ---           ┆ i32    ┆ f64    ┆ ---          ┆ str          │
 │            ┆        ┆            ┆ time          ┆        ┆        ┆ bool         ┆              │
 ╞════════════╪════════╪════════════╪═══════════════╪════════╪════════╪══════════════╪══════════════╡
 │ Maria      ┆ Female ┆ 1993-04-23 ┆ 11:17:00      ┆ 130590 ┆ 11.858 ┆ false        ┆ Finance      │
 │ Ruby       ┆ Female ┆ 1987-08-17 ┆ 16:20:00      ┆ 65476  ┆ 10.012 ┆ true         ┆ Product      │
 │ null       ┆ Female ┆ 2015-07-20 ┆ 10:43:00      ┆ 45906  ┆ 11.598 ┆ null         ┆ Finance      │
 │ Angela     ┆ Female ┆ 2005-11-22 ┆ 06:29:00      ┆ 95570  ┆ 18.523 ┆ true         ┆ Engineering  │
 │ Frances    ┆ Female ┆ 2002-08-08 ┆ 06:51:00      ┆ 139852 ┆ 7.524  ┆ true         ┆ Business     │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Development  │
 │ Louise     ┆ Female ┆ 1980-08-12 ┆ 09:01:00      ┆ 63241  ┆ 15.132 ┆ true         ┆ null         │
 │ Julie      ┆ Female ┆ 1997-10-26 ┆ 15:19:00      ┆ 102508 ┆ 12.637 ┆ true         ┆ Legal        │
 │ Kimberly   ┆ Female ┆ 1999-01-14 ┆ 07:13:00      ┆ 41426  ┆ 14.543 ┆ true         ┆ Finance      │
 │ Lillian    ┆ Female ┆ 2016-06-05 ┆ 06:09:00      ┆ 59414  ┆ 1.256  ┆ false        ┆ Product      │
 │ Diana      ┆ Female ┆ 1981-10-23 ┆ 10:27:00      ┆ 132940 ┆ 19.082 ┆ false        ┆ Client       │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Services     │
 │ Donna      ┆ Female ┆ 2010-07-22 ┆ 03:48:00      ┆ 81014  ┆ 1.894  ┆ false        ┆ Product      │
 │ Christina  ┆ Female ┆ 2002-08-06 ┆ 13:19:00      ┆ 118780 ┆ 9.096  ┆ true         ┆ Engineering  │
 │ Jean       ┆ Female ┆ 1993-12-18 ┆ 09:07:00      ┆ 119082 ┆ 16.18  ┆ false        ┆ Business     │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Development  │
 │ Theresa    ┆ Female ┆ 2006-10-10 ┆ 01:12:00      ┆ 85182  ┆ 16.675 ┆ false        ┆ Sales        │
 │ Rachel     ┆ Female ┆ 2009-02-16 ┆ 20:47:00      ┆ 142032 ┆ 12.599 ┆ false        ┆ Business     │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Development  │
 │ Linda      ┆ Female ┆ 1981-10-19 ┆ 20:49:00      ┆ 57427  ┆ 9.557  ┆ true         ┆ Client       │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Services     │
 │ Stephanie  ┆ Female ┆ 1986-09-13 ┆ 01:52:00      ┆ 36844  ┆ 5.574  ┆ true         ┆ Business     │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Development  │
 │ Beverly    ┆ Female ┆ 1998-09-09 ┆ 20:26:00      ┆ 121918 ┆ 15.835 ┆ false        ┆ Legal        │
 │ Marilyn    ┆ Female ┆ 1980-12-07 ┆ 03:16:00      ┆ 73524  ┆ 5.207  ┆ true         ┆ Marketing    │
 │ Cynthia    ┆ Female ┆ 1988-11-16 ┆ 18:54:00      ┆ 145146 ┆ 7.482  ┆ true         ┆ Product      │
 │ Kathy      ┆ Female ┆ 2005-06-22 ┆ 04:51:00      ┆ 66820  ┆ 9.0    ┆ true         ┆ Client       │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Services     │
 │ Nancy      ┆ Female ┆ 2000-09-23 ┆ 08:05:00      ┆ 94976  ┆ 13.83  ┆ true         ┆ Engineering  │
 │ Sara       ┆ Female ┆ 2007-08-15 ┆ 09:23:00      ┆ 83677  ┆ 8.999  ┆ false        ┆ Engineering  │
 │ Karen      ┆ Female ┆ 1999-11-30 ┆ 07:46:00      ┆ 102488 ┆ 17.653 ┆ true         ┆ Product      │
 │ Theresa    ┆ Female ┆ 2010-04-11 ┆ 07:18:00      ┆ 72670  ┆ 1.481  ┆ true         ┆ Engineering  │
 │ Irene      ┆ Female ┆ 1997-05-07 ┆ 09:32:00      ┆ 66851  ┆ 11.279 ┆ false        ┆ Engineering  │
 │ Denise     ┆ Female ┆ 2001-11-06 ┆ 12:03:00      ┆ 106862 ┆ 3.699  ┆ false        ┆ Business     │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Development  │
 │ null       ┆ Female ┆ 2007-06-12 ┆ 17:25:00      ┆ 58112  ┆ 19.414 ┆ null         ┆ Marketing    │
 │ Nancy      ┆ Female ┆ 2012-12-15 ┆ 23:57:00      ┆ 125250 ┆ 2.672  ┆ true         ┆ Business     │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Development  │
 │ Rachel     ┆ Female ┆ 1999-08-16 ┆ 06:53:00      ┆ 51178  ┆ 9.735  ┆ true         ┆ Finance      │
 │ Frances    ┆ Female ┆ 1999-04-04 ┆ 16:19:00      ┆ 90582  ┆ 4.709  ┆ true         ┆ Sales        │
 │ Bonnie     ┆ Female ┆ 1991-07-02 ┆ 01:27:00      ┆ 104897 ┆ 5.118  ┆ true         ┆ Human        │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Resources    │
 │ Margaret   ┆ Female ┆ 1988-09-10 ┆ 12:42:00      ┆ 131604 ┆ 7.353  ┆ true         ┆ Distribution │
 │ Robin      ┆ Female ┆ 1983-06-04 ┆ 15:15:00      ┆ 114797 ┆ 5.965  ┆ true         ┆ Sales        │
 │ Bonnie     ┆ Female ┆ 1988-11-13 ┆ 15:30:00      ┆ 115814 ┆ 4.99   ┆ false        ┆ Product      │
 │ Doris      ┆ Female ┆ 2004-08-20 ┆ 05:51:00      ┆ 83072  ┆ 7.511  ┆ false        ┆ Finance      │
 │ Annie      ┆ Female ┆ 1993-01-30 ┆ 02:05:00      ┆ 144887 ┆ 8.276  ┆ true         ┆ Sales        │
 │ Donna      ┆ Female ┆ 1991-11-27 ┆ 13:59:00      ┆ 64088  ┆ 6.155  ┆ true         ┆ Legal        │

In [ ]:
└── battle
    └── yyyy=2024
        └── mm=10
            ├── dd=01
            │   └── battle.parquet
            ├── dd=02
            │   └── battle.parquet
            ├── dd=03
            │   └── battle.parquet
            └── dd=04
                └── battle.parquet

In [82]:
battle = pl.read_parquet(
    source='../dataset/parquet_partition/battle/',
    hive_partitioning=True
    )

battle.head()

shape: (5, 10)
┌─────┬────────────┬────────────┬───────────┬───┬──────────────────┬──────┬─────┬─────┐
│ id  ┆ player1_id ┆ player2_id ┆ winner_id ┆ … ┆ battle_timestamp ┆ yyyy ┆ mm  ┆ dd  │
│ --- ┆ ---        ┆ ---        ┆ ---       ┆   ┆ ---              ┆ ---  ┆ --- ┆ --- │
│ i64 ┆ i64        ┆ i64        ┆ str       ┆   ┆ i64              ┆ i64  ┆ i64 ┆ i64 │
╞═════╪════════════╪════════════╪═══════════╪═══╪══════════════════╪══════╪═════╪═════╡
│ 51  ┆ 6          ┆ 90         ┆ 90        ┆ … ┆ 1727803105       ┆ 2024 ┆ 10  ┆ 1   │
│ 118 ┆ 40         ┆ 51         ┆           ┆ … ┆ 1727781169       ┆ 2024 ┆ 10  ┆ 1   │
│ 145 ┆ 32         ┆ 41         ┆ 32        ┆ … ┆ 1727822591       ┆ 2024 ┆ 10  ┆ 1   │
│ 184 ┆ 20         ┆ 84         ┆ 20        ┆ … ┆ 1727805840       ┆ 2024 ┆ 10  ┆ 1   │
│ 241 ┆ 19         ┆ 82         ┆           ┆ … ┆ 1727802878       ┆ 2024 ┆ 10  ┆ 1   │
└─────┴────────────┴────────────┴───────────┴───┴──────────────────┴──────┴─────┴─────┘

In [83]:
battle.write_parquet(
    file="test_path",
    partition_by=['yyyy','mm','dd']
    )

In [84]:
import pandas as pd

aaa = battle.to_pandas()

In [ ]:
aaa.to_parquet(
    "hahaha",
    partition_cols=['yyyy','mm','dd']
    )