## 1. SQL

In [ ]:
https://duckdb.org/2023/04/14/h2oai.html

In [2]:
import polars as pl

# 최대 100행까지 잘리지 않고 출력되도록 설정
cfg = pl.Config()
cfg.set_tbl_rows(100)

polars.config.Config

In [3]:
df = pl.read_csv("../dataset/emp.csv")

df.head()

shape: (5, 8)
┌────────────┬────────┬────────────┬────────────┬────────┬────────┬────────────────────┬───────────┐
│ First Name ┆ Gender ┆ Start Date ┆ Last Login ┆ Salary ┆ Bonus  ┆ Senior Management  ┆ Team      │
│ ---        ┆ ---    ┆ ---        ┆ Time       ┆ ---    ┆ ---    ┆ ---                ┆ ---       │
│ str        ┆ str    ┆ str        ┆ ---        ┆ i64    ┆ f64    ┆ bool               ┆ str       │
│            ┆        ┆            ┆ str        ┆        ┆        ┆                    ┆           │
╞════════════╪════════╪════════════╪════════════╪════════╪════════╪════════════════════╪═══════════╡
│ Douglas    ┆ Male   ┆ 8/6/1993   ┆ 12:42 PM   ┆ 97308  ┆ 6.945  ┆ true               ┆ Marketing │
│ Thomas     ┆ Male   ┆ 3/31/1996  ┆ 6:53 AM    ┆ 61933  ┆ 4.17   ┆ true               ┆ null      │
│ Maria      ┆ Female ┆ 4/23/1993  ┆ 11:17 AM   ┆ 130590 ┆ 11.858 ┆ false              ┆ Finance   │
│ Jerry      ┆ Male   ┆ 3/4/2005   ┆ 1:00 PM    ┆ 138705 ┆ 9.34   ┆ true               ┆ Finance   │
│ Larry      ┆ Male   ┆ 1/24/1998  ┆ 4:47 PM    ┆ 101004 ┆ 1.389  ┆ true               ┆ Client    │
│            ┆        ┆            ┆            ┆        ┆        ┆                    ┆ Services  │
└────────────┴────────┴────────────┴────────────┴────────┴────────┴────────────────────┴───────────┘

In [65]:
df.head()

shape: (5, 8)
┌────────────┬────────┬────────────┬────────────┬────────┬────────┬────────────────────┬───────────┐
│ First Name ┆ Gender ┆ Start Date ┆ Last Login ┆ Salary ┆ Bonus  ┆ Senior Management  ┆ Team      │
│ ---        ┆ ---    ┆ ---        ┆ Time       ┆ ---    ┆ ---    ┆ ---                ┆ ---       │
│ str        ┆ str    ┆ date       ┆ ---        ┆ i32    ┆ f64    ┆ bool               ┆ str       │
│            ┆        ┆            ┆ time       ┆        ┆        ┆                    ┆           │
╞════════════╪════════╪════════════╪════════════╪════════╪════════╪════════════════════╪═══════════╡
│ Douglas    ┆ Male   ┆ 1993-08-06 ┆ 12:42:00   ┆ 97308  ┆ 6.945  ┆ true               ┆ Marketing │
│ Thomas     ┆ Male   ┆ 1996-03-31 ┆ 06:53:00   ┆ 61933  ┆ 4.17   ┆ true               ┆ null      │
│ Maria      ┆ Female ┆ 1993-04-23 ┆ 11:17:00   ┆ 130590 ┆ 11.858 ┆ false              ┆ Finance   │
│ Jerry      ┆ Male   ┆ 2005-03-04 ┆ 13:00:00   ┆ 138705 ┆ 9.34   ┆ true               ┆ Finance   │
│ Larry      ┆ Male   ┆ 1998-01-24 ┆ 16:47:00   ┆ 101004 ┆ 1.389  ┆ true               ┆ Client    │
│            ┆        ┆            ┆            ┆        ┆        ┆                    ┆ Services  │
└────────────┴────────┴────────────┴────────────┴────────┴────────┴────────────────────┴───────────┘

In [68]:
# dataframe에 대해 SQL로 조회하기

df.sql("SELECT * FROM self LIMIT 5")

pl.sql("SELECT * FROM df LIMIT 5").collect()

shape: (5, 8)
┌────────────┬────────┬────────────┬────────────┬────────┬────────┬────────────────────┬───────────┐
│ First Name ┆ Gender ┆ Start Date ┆ Last Login ┆ Salary ┆ Bonus  ┆ Senior Management  ┆ Team      │
│ ---        ┆ ---    ┆ ---        ┆ Time       ┆ ---    ┆ ---    ┆ ---                ┆ ---       │
│ str        ┆ str    ┆ date       ┆ ---        ┆ i32    ┆ f64    ┆ bool               ┆ str       │
│            ┆        ┆            ┆ time       ┆        ┆        ┆                    ┆           │
╞════════════╪════════╪════════════╪════════════╪════════╪════════╪════════════════════╪═══════════╡
│ Douglas    ┆ Male   ┆ 1993-08-06 ┆ 12:42:00   ┆ 97308  ┆ 6.945  ┆ true               ┆ Marketing │
│ Thomas     ┆ Male   ┆ 1996-03-31 ┆ 06:53:00   ┆ 61933  ┆ 4.17   ┆ true               ┆ null      │
│ Maria      ┆ Female ┆ 1993-04-23 ┆ 11:17:00   ┆ 130590 ┆ 11.858 ┆ false              ┆ Finance   │
│ Jerry      ┆ Male   ┆ 2005-03-04 ┆ 13:00:00   ┆ 138705 ┆ 9.34   ┆ true               ┆ Finance   │
│ Larry      ┆ Male   ┆ 1998-01-24 ┆ 16:47:00   ┆ 101004 ┆ 1.389  ┆ true               ┆ Client    │
│            ┆        ┆            ┆            ┆        ┆        ┆                    ┆ Services  │
└────────────┴────────┴────────────┴────────────┴────────┴────────┴────────────────────┴───────────┘

In [72]:
# SQLContext 객체 생성

ctx = pl.SQLContext(
    register_globals=False, # 해당 메모리에 있는 dataframe을 다 테이블로 등록하는 설정
    eager=True # 지연 평가(lazy evaluation) 대신 즉시 실행(eager evaluation)을 사용할지 여부를 설정
)

In [73]:
# 해당 객체 안에 있는 테이블 확인

ctx.tables()

[]

In [74]:
# 객체에 테이블 등록

tp = pl.read_csv("../dataset/trainer_pokemon.csv")
pk = pl.read_csv("../dataset/pokemon.csv")

ctx.register_many(
    trainer_pokemon=tp, # 테이블 이름 : DF 이름
    pokemon=pk
)

ctx.tables()

['pokemon', 'trainer_pokemon']

In [75]:
# 등록된 테이블 조회

with ctx:
    # ctx._eager_execution=True
    pk = ctx.execute("SELECT type1, COUNT(type1) AS cnt FROM pokemon GROUP BY type1 ORDER BY cnt DESC")
    display(pk)

shape: (17, 2)
┌──────────┬─────┐
│ type1    ┆ cnt │
│ ---      ┆ --- │
│ str      ┆ u32 │
╞══════════╪═════╡
│ Water    ┆ 46  │
│ Normal   ┆ 37  │
│ Bug      ┆ 22  │
│ Grass    ┆ 21  │
│ Fire     ┆ 20  │
│ Psychic  ┆ 15  │
│ Electric ┆ 15  │
│ Poison   ┆ 15  │
│ Rock     ┆ 13  │
│ Ground   ┆ 11  │
│ Fighting ┆ 9   │
│ Fairy    ┆ 7   │
│ Ice      ┆ 6   │
│ Dark     ┆ 5   │
│ Ghost    ┆ 4   │
│ Dragon   ┆ 3   │
│ Steel    ┆ 2   │
└──────────┴─────┘

In [76]:
with pl.SQLContext(
    register_globals=True,
    eager=True # collect를 사용하지 않아도 되는 DF 타입으로 바로 읽음
    ) as ctx:
    tdf = ctx.execute("SELECT * FROM tp LIMIT 5")
    display(tdf)

shape: (5, 10)
┌─────┬────────────┬────────────┬───────┬───┬────────────┬──────────────────┬──────────┬────────┐
│ id  ┆ trainer_id ┆ pokemon_id ┆ level ┆ … ┆ catch_date ┆ catch_datetime   ┆ location ┆ status │
│ --- ┆ ---        ┆ ---        ┆ ---   ┆   ┆ ---        ┆ ---              ┆ ---      ┆ ---    │
│ i64 ┆ i64        ┆ i64        ┆ i64   ┆   ┆ str        ┆ str              ┆ str      ┆ str    │
╞═════╪════════════╪════════════╪═══════╪═══╪════════════╪══════════════════╪══════════╪════════╡
│ 1   ┆ 7          ┆ 25         ┆ 42    ┆ … ┆ 2024-02-14 ┆ 2024-02-14 5:27  ┆ Seoul    ┆ Active │
│ 2   ┆ 15         ┆ 6          ┆ 56    ┆ … ┆ 2024-03-10 ┆ 2024-03-10 20:27 ┆ Busan    ┆ Active │
│ 3   ┆ 4          ┆ 12         ┆ 21    ┆ … ┆ 2024-01-05 ┆ 2024-01-05 14:28 ┆ Incheon  ┆ Active │
│ 4   ┆ 12         ┆ 19         ┆ 39    ┆ … ┆ 2024-02-28 ┆ 2024-02-28 22:39 ┆ Gwangju  ┆ Active │
│ 5   ┆ 1          ┆ 143        ┆ 70    ┆ … ┆ 2024-05-22 ┆ 2024-05-22 20:58 ┆ Daejeon  ┆ Active │
└─────┴────────────┴────────────┴───────┴───┴────────────┴──────────────────┴──────────┴────────┘

## 2. PARTITIONING

In [ ]:
# 특정 컬럼을 기준으로 파티션 나누어 출력

df.partition_by('Gender')

[shape: (424, 8)
 ┌─────────────┬────────┬────────────┬──────────────┬────────┬────────┬──────────────┬──────────────┐
 │ First Name  ┆ Gender ┆ Start Date ┆ Last Login   ┆ Salary ┆ Bonus  ┆ Senior       ┆ Team         │
 │ ---         ┆ ---    ┆ ---        ┆ Time         ┆ ---    ┆ ---    ┆ Management   ┆ ---          │
 │ str         ┆ str    ┆ date       ┆ ---          ┆ i32    ┆ f64    ┆ ---          ┆ str          │
 │             ┆        ┆            ┆ time         ┆        ┆        ┆ bool         ┆              │
 ╞═════════════╪════════╪════════════╪══════════════╪════════╪════════╪══════════════╪══════════════╡
 │ Douglas     ┆ Male   ┆ 1993-08-06 ┆ 12:42:00     ┆ 97308  ┆ 6.945  ┆ true         ┆ Marketing    │
 │ Thomas      ┆ Male   ┆ 1996-03-31 ┆ 06:53:00     ┆ 61933  ┆ 4.17   ┆ true         ┆ null         │
 │ Jerry       ┆ Male   ┆ 2005-03-04 ┆ 13:00:00     ┆ 138705 ┆ 9.34   ┆ true         ┆ Finance      │
 │ Larry       ┆ Male   ┆ 1998-01-24 ┆ 16:47:00     ┆ 101004 ┆ 1.389  ┆ true         ┆ Client       │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Services     │
 │ Dennis      ┆ Male   ┆ 1987-04-18 ┆ 01:35:00     ┆ 115163 ┆ 10.125 ┆ false        ┆ Legal        │
 │ Brandon     ┆ Male   ┆ 1980-12-01 ┆ 01:08:00     ┆ 112807 ┆ 17.492 ┆ true         ┆ Human        │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Resources    │
 │ Gary        ┆ Male   ┆ 2008-01-27 ┆ 23:40:00     ┆ 109831 ┆ 5.831  ┆ false        ┆ Sales        │
 │ Jeremy      ┆ Male   ┆ 2010-09-21 ┆ 05:56:00     ┆ 90370  ┆ 7.369  ┆ false        ┆ Human        │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Resources    │
 │ Shawn       ┆ Male   ┆ 1986-12-07 ┆ 19:45:00     ┆ 111737 ┆ 6.414  ┆ false        ┆ Product      │
 │ Matthew     ┆ Male   ┆ 1995-09-05 ┆ 02:12:00     ┆ 100612 ┆ 13.645 ┆ false        ┆ Marketing    │
 │ null        ┆ Male   ┆ 2012-06-14 ┆ 16:19:00     ┆ 125792 ┆ 5.042  ┆ null         ┆ null         │
 │ John        ┆ Male   ┆ 1992-07-01 ┆ 22:08:00     ┆ 97950  ┆ 13.873 ┆ false        ┆ Client       │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Services     │
 │ null        ┆ Male   ┆ 2012-10-08 ┆ 01:12:00     ┆ 37076  ┆ 18.576 ┆ null         ┆ Client       │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Services     │
 │ Craig       ┆ Male   ┆ 2000-02-27 ┆ 07:45:00     ┆ 37598  ┆ 7.757  ┆ true         ┆ Marketing    │
 │ Terry       ┆ Male   ┆ 1981-11-27 ┆ 18:30:00     ┆ 124008 ┆ 13.464 ┆ true         ┆ Client       │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Services     │
 │ Benjamin    ┆ Male   ┆ 2005-01-26 ┆ 22:06:00     ┆ 79529  ┆ 7.008  ┆ true         ┆ Legal        │
 │ null        ┆ Male   ┆ 1998-08-21 ┆ 14:27:00     ┆ 122340 ┆ 6.417  ┆ null         ┆ null         │
 │ Jerry       ┆ Male   ┆ 2004-01-10 ┆ 12:56:00     ┆ 95734  ┆ 19.096 ┆ false        ┆ Client       │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Services     │
 │ null        ┆ Male   ┆ 2016-01-29 ┆ 02:33:00     ┆ 122173 ┆ 7.797  ┆ null         ┆ Client       │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Services     │
 │ Michael     ┆ Male   ┆ 2008-10-10 ┆ 11:25:00     ┆ 99283  ┆ 2.665  ┆ true         ┆ Distribution │
 │ Roger       ┆ Male   ┆ 1980-04-17 ┆ 11:32:00     ┆ 88010  ┆ 13.886 ┆ true         ┆ Sales        │
 │ Bruce       ┆ Male   ┆ 2009-11-28 ┆ 22:47:00     ┆ 114796 ┆ 6.796  ┆ false        ┆ Finance      │
 │ Clarence    ┆ Male   ┆ 1996-03-26 ┆ 05:57:00     ┆ 93581  ┆ 6.083  ┆ true         ┆ Business     │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Development  │
 │ Todd        ┆ Male   ┆ 1990-02-18 ┆ 02:41:00     ┆ 49339  ┆ 1.695  ┆ true         ┆ Human        │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Resources    │
 │ Carl        ┆ Male   ┆ 2006-05-03 ┆ 17:55:00     ┆ 130276 ┆ 16.084 ┆ true         ┆ Finance      │
 │ Henry       ┆ Male   ┆ 1996-06-26 ┆ 01:44:00     ┆ 64715  ┆ 15.107 ┆ true         ┆ Human        │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Resources    │
 │ Matthew     ┆ Male   ┆ 2013-01-02 ┆ 22:33:00     ┆ 35203  ┆ 18.04  ┆ false        ┆ Human        │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Resources    │
 │ Steve       ┆ Male   ┆ 2009-11-11 ┆ 23:44:00     ┆ 61310  ┆ 12.428 ┆ true         ┆ Distribution │
 │ Jose        ┆ Male   ┆ 2004-10-30 ┆ 13:39:00     ┆ 84834  ┆ 14.33  ┆ true         ┆ Finance      │
 │ Johnny      ┆ Male   ┆ 2009-11-06 ┆ 16:23:00     ┆ 118172 ┆ 16.194 ┆ true         ┆ Sales        │
 │ Bobby       ┆ Male   ┆ 2007-05-07 ┆ 10:01:00     ┆ 54043  ┆ 3.833  ┆ false        ┆ Product      │
 │ Thomas      ┆ Male   ┆ 1995-06-04 ┆ 14:24:00     ┆ 62096  ┆ 17.029 ┆ false        ┆ Marketing    │
 │ Charles     ┆ Male   ┆ 2004-09-14 ┆ 20:13:00     ┆ 107391 ┆ 1.26   ┆ true         ┆ Marketing    │
 │ Christopher ┆ Male   ┆ 2008-03-30 ┆ 10:52:00     ┆ 47369  ┆ 14.822 ┆ false        ┆ Legal        │
 │ Steven      ┆ Male   ┆ 1980-03-30 ┆ 21:20:00     ┆ 35095  ┆ 8.379  ┆ true         ┆ Client       │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Services     │
 │ Shawn       ┆ Male   ┆ 2005-09-23 ┆ 02:55:00     ┆ 148115 ┆ 6.539  ┆ true         ┆ Finance      │
 │ Jeremy      ┆ Male   ┆ 2008-02-01 ┆ 08:50:00     ┆ 100238 ┆ 3.887  ┆ true         ┆ Client       │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Services     │
 │ Harry       ┆ Male   ┆ 1981-08-26 ┆ 15:16:00     ┆ 130620 ┆ 7.03   ┆ false        ┆ Legal        │
 │ Harold      ┆ Male   ┆ 1985-01-02 ┆ 21:40:00     ┆ 77544  ┆ 12.447 ┆ false        ┆ Business     │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Development  │
 │ Aaron       ┆ Male   ┆ 2012-02-17 ┆ 10:20:00     ┆ 61602  ┆ 11.849 ┆ true         ┆ Marketing    │
 │ Jack        ┆ Male   ┆ 1997-01-12 ┆ 05:51:00     ┆ 103902 ┆ 12.159 ┆ false        ┆ Client       │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Services     │
 │ John        ┆ Male   ┆ 1989-12-23 ┆ 07:01:00     ┆ 80740  ┆ 19.305 ┆ false        ┆ Marketing    │
 │ Paul        ┆ Male   ┆ 1993-08-04 ┆ 19:25:00     ┆ 42146  ┆ 3.046  ┆ false        ┆ Legal        │
 │ Steven      ┆ Male   ┆ 2013-04-23 ┆ 22:12:00     ┆ 68680  ┆ 16.565 ┆ false        ┆ Legal        │
 │ Christopher ┆ Male   ┆ 2000-04-22 ┆ 10:15:00     ┆ 37919  ┆ 11.449 ┆ false        ┆ null         │
 │ Willie      ┆ Male   ┆ 2003-11-27 ┆ 06:21:00     ┆ 64363  ┆ 4.023  ┆ false        ┆ Marketing    │
 │ null        ┆ Male   ┆ 1991-06-22 ┆ 20:58:00     ┆ 76189  ┆ 18.988 ┆ null         ┆ Legal        │
 │ Steven      ┆ Male   ┆ 1995-03-01 ┆ 15:03:00     ┆ 109095 ┆ 9.494  ┆ false        ┆ Finance      │
 │ Paul        ┆ Male   ┆ 2008-06-03 ┆ 15:05:00     ┆ 41054  ┆ 12.299 ┆ false        ┆ Marketing    │
 │ Peter       ┆ Male   ┆ 1994-11-17 ┆ 18:15:00     ┆ 84885  ┆ 15.402 ┆ false        ┆ Business     │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Development  │
 │ …           ┆ …      ┆ …          ┆ …            ┆ …      ┆ …      ┆ …            ┆ …            │
 │ Anthony     ┆ Male   ┆ 2014-01-30 ┆ 21:04:00     ┆ 96795  ┆ 14.837 ┆ false        ┆ Sales        │
 │ David       ┆ Male   ┆ 2009-12-05 ┆ 08:48:00     ┆ 92242  ┆ 15.407 ┆ false        ┆ Legal        │
 │ null        ┆ Male   ┆ 2015-11-24 ┆ 03:11:00     ┆ 145329 ┆ 7.1    ┆ null         ┆ Finance      │
 │ Timothy     ┆ Male   ┆ 1991-08-25 ┆ 10:37:00     ┆ 92587  ┆ 8.475  ┆ false        ┆ Finance      │
 │ Brandon     ┆ Male   ┆ 1995-10-23 ┆ 12:04:00     ┆ 60263  ┆ 2.709  ┆ false        ┆ Sales        │
 │ Frank       ┆ Male   ┆ 2013-07-27 ┆ 16:32:00     ┆ 91406  ┆ 5.681  ┆ true         ┆ Business     │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Development  │
 │ Victor      ┆ Male   ┆ 2010-03-10 ┆ 17:01:00     ┆ 45267  ┆ 3.942  ┆ true         ┆ Sales        │
 │ Walter      ┆ Male   ┆ 1992-05-21 ┆ 00:39:00     ┆ 144701 ┆ 16.323 ┆ true         ┆ Marketing    │
 │ null        ┆ Male   ┆ 2001-05-23 ┆ 19:52:00     ┆ 103877 ┆ 6.322  ┆ null         ┆ Distribution │
 │ Donald      ┆ Male   ┆ 1991-08-01 ┆ 02:25:00     ┆ 61999  ┆ 6.466  ┆ false        ┆ Product      │
 │ Carl        ┆ Male   ┆ 2010-07-07 ┆ 13:33:00     ┆ 54033  ┆ 15.528 ┆ true         ┆ Business     │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Development  │
 │ Joe         ┆ Male   ┆ 1998-12-08 ┆ 10:28:00     ┆ 126120 ┆ 1.02   ┆ false        ┆ null         │
 │ Todd        ┆ Male   ┆ 1983-01-04 ┆ 12:34:00     ┆ 115566 ┆ 6.716  ┆ true         ┆ Client       │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Services     │
 │ Shawn       ┆ Male   ┆ 2008-03-13 ┆ 17:36:00     ┆ 51667  ┆ 6.339  ┆ false        ┆ Product      │
 │ Ryan        ┆ Male   ┆ 1999-04-27 ┆ 03:41:00     ┆ 85858  ┆ 19.475 ┆ false        ┆ Client       │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Services     │
 │ Sean        ┆ Male   ┆ 2009-03-21 ┆ 11:38:00     ┆ 131423 ┆ 8.957  ┆ false        ┆ Distribution │
 │ George      ┆ Male   ┆ 2015-06-05 ┆ 05:40:00     ┆ 50369  ┆ 18.9   ┆ true         ┆ Sales        │
 │ Arthur      ┆ Male   ┆ 2013-12-05 ┆ 08:44:00     ┆ 86615  ┆ 3.412  ┆ true         ┆ Business     │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Development  │
 │ Philip      ┆ Male   ┆ 2005-03-11 ┆ 10:56:00     ┆ 103557 ┆ 16.014 ┆ true         ┆ Business     │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Development  │
 │ Jeffrey     ┆ Male   ┆ 1986-09-20 ┆ 06:06:00     ┆ 111376 ┆ 2.673  ┆ true         ┆ Business     │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Development  │
 │ Harold      ┆ Male   ┆ 2012-06-23 ┆ 12:40:00     ┆ 140444 ┆ 3.771  ┆ false        ┆ Distribution │
 │ Samuel      ┆ Male   ┆ 1997-08-07 ┆ 12:40:00     ┆ 43694  ┆ 3.787  ┆ true         ┆ Engineering  │
 │ Andrew      ┆ Male   ┆ 1990-09-28 ┆ 09:38:00     ┆ 137386 ┆ 8.611  ┆ true         ┆ Distribution │
 │ William     ┆ Male   ┆ 1997-06-26 ┆ 08:33:00     ┆ 104840 ┆ 15.653 ┆ true         ┆ Engineering  │
 │ Wayne       ┆ Male   ┆ 2006-09-08 ┆ 11:09:00     ┆ 67471  ┆ 2.728  ┆ false        ┆ Engineering  │
 │ Kenneth     ┆ Male   ┆ 2006-05-10 ┆ 08:24:00     ┆ 101914 ┆ 1.905  ┆ true         ┆ Distribution │
 │ null        ┆ Male   ┆ 2012-07-30 ┆ 15:07:00     ┆ 107351 ┆ 5.329  ┆ null         ┆ Marketing    │
 │ Scott       ┆ Male   ┆ 2011-08-20 ┆ 08:08:00     ┆ 37385  ┆ 8.226  ┆ true         ┆ Business     │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Development  │
 │ Randy       ┆ Male   ┆ 2012-02-25 ┆ 05:33:00     ┆ 57266  ┆ 14.077 ┆ false        ┆ Product      │
 │ Joe         ┆ Male   ┆ 1980-01-19 ┆ 16:06:00     ┆ 119667 ┆ 1.148  ┆ true         ┆ Finance      │
 │ Jeffrey     ┆ Male   ┆ 1984-02-03 ┆ 13:26:00     ┆ 70990  ┆ 15.901 ┆ true         ┆ Sales        │
 │ Albert      ┆ Male   ┆ 1992-09-19 ┆ 02:35:00     ┆ 45094  ┆ 5.85   ┆ true         ┆ Business     │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Development  │
 │ Stephen     ┆ Male   ┆ 1989-10-29 ┆ 23:34:00     ┆ 93997  ┆ 18.093 ┆ true         ┆ Business     │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Development  │
 │ Jonathan    ┆ Male   ┆ 2013-08-21 ┆ 00:45:00     ┆ 121797 ┆ 16.923 ┆ false        ┆ Product      │
 │ Bruce       ┆ Male   ┆ 1980-05-07 ┆ 20:00:00     ┆ 35802  ┆ 12.391 ┆ true         ┆ Sales        │
 │ Louis       ┆ Male   ┆ 2011-08-16 ┆ 17:19:00     ┆ 93022  ┆ 9.146  ┆ true         ┆ Human        │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Resources    │
 │ Thomas      ┆ Male   ┆ 2016-03-12 ┆ 15:10:00     ┆ 105681 ┆ 19.572 ┆ false        ┆ Engineering  │
 │ Patrick     ┆ Male   ┆ 2002-12-30 ┆ 02:01:00     ┆ 75423  ┆ 5.368  ┆ true         ┆ Business     │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Development  │
 │ Russell     ┆ Male   ┆ 2013-05-10 ┆ 23:08:00     ┆ 137359 ┆ 11.105 ┆ false        ┆ Business     │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Development  │
 │ Harry       ┆ Male   ┆ 2011-08-30 ┆ 18:31:00     ┆ 67656  ┆ 16.455 ┆ true         ┆ Client       │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Services     │
 │ Sean        ┆ Male   ┆ 1983-01-17 ┆ 14:23:00     ┆ 66146  ┆ 11.178 ┆ false        ┆ Human        │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Resources    │
 │ Ernest      ┆ Male   ┆ 2013-07-20 ┆ 06:41:00     ┆ 142935 ┆ 13.198 ┆ true         ┆ Product      │
 │ James       ┆ Male   ┆ 1993-01-15 ┆ 17:19:00     ┆ 148985 ┆ 19.28  ┆ false        ┆ Legal        │
 │ John        ┆ Male   ┆ 1982-12-23 ┆ 22:35:00     ┆ 146907 ┆ 11.738 ┆ false        ┆ Engineering  │
 │ Anthony     ┆ Male   ┆ 2011-10-16 ┆ 08:35:00     ┆ 112769 ┆ 11.625 ┆ true         ┆ Finance      │
 │ George      ┆ Male   ┆ 2013-06-21 ┆ 17:47:00     ┆ 98874  ┆ 4.479  ┆ true         ┆ Marketing    │
 │ Phillip     ┆ Male   ┆ 1984-01-31 ┆ 06:30:00     ┆ 42392  ┆ 19.675 ┆ false        ┆ Finance      │
 │ Russell     ┆ Male   ┆ 2013-05-20 ┆ 12:39:00     ┆ 96914  ┆ 1.421  ┆ false        ┆ Product      │
 │ Larry       ┆ Male   ┆ 2013-04-20 ┆ 16:45:00     ┆ 60500  ┆ 11.985 ┆ false        ┆ Business     │
 │             ┆        ┆            ┆              ┆        ┆        ┆              ┆ Development  │
 │ Albert      ┆ Male   ┆ 2012-05-15 ┆ 18:24:00     ┆ 129949 ┆ 10.169 ┆ true         ┆ Sales        │
 └─────────────┴────────┴────────────┴──────────────┴────────┴────────┴──────────────┴──────────────┘,
 shape: (431, 8)
 ┌────────────┬────────┬────────────┬───────────────┬────────┬────────┬──────────────┬──────────────┐
 │ First Name ┆ Gender ┆ Start Date ┆ Last Login    ┆ Salary ┆ Bonus  ┆ Senior       ┆ Team         │
 │ ---        ┆ ---    ┆ ---        ┆ Time          ┆ ---    ┆ ---    ┆ Management   ┆ ---          │
 │ str        ┆ str    ┆ date       ┆ ---           ┆ i32    ┆ f64    ┆ ---          ┆ str          │
 │            ┆        ┆            ┆ time          ┆        ┆        ┆ bool         ┆              │
 ╞════════════╪════════╪════════════╪═══════════════╪════════╪════════╪══════════════╪══════════════╡
 │ Maria      ┆ Female ┆ 1993-04-23 ┆ 11:17:00      ┆ 130590 ┆ 11.858 ┆ false        ┆ Finance      │
 │ Ruby       ┆ Female ┆ 1987-08-17 ┆ 16:20:00      ┆ 65476  ┆ 10.012 ┆ true         ┆ Product      │
 │ null       ┆ Female ┆ 2015-07-20 ┆ 10:43:00      ┆ 45906  ┆ 11.598 ┆ null         ┆ Finance      │
 │ Angela     ┆ Female ┆ 2005-11-22 ┆ 06:29:00      ┆ 95570  ┆ 18.523 ┆ true         ┆ Engineering  │
 │ Frances    ┆ Female ┆ 2002-08-08 ┆ 06:51:00      ┆ 139852 ┆ 7.524  ┆ true         ┆ Business     │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Development  │
 │ Louise     ┆ Female ┆ 1980-08-12 ┆ 09:01:00      ┆ 63241  ┆ 15.132 ┆ true         ┆ null         │
 │ Julie      ┆ Female ┆ 1997-10-26 ┆ 15:19:00      ┆ 102508 ┆ 12.637 ┆ true         ┆ Legal        │
 │ Kimberly   ┆ Female ┆ 1999-01-14 ┆ 07:13:00      ┆ 41426  ┆ 14.543 ┆ true         ┆ Finance      │
 │ Lillian    ┆ Female ┆ 2016-06-05 ┆ 06:09:00      ┆ 59414  ┆ 1.256  ┆ false        ┆ Product      │
 │ Diana      ┆ Female ┆ 1981-10-23 ┆ 10:27:00      ┆ 132940 ┆ 19.082 ┆ false        ┆ Client       │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Services     │
 │ Donna      ┆ Female ┆ 2010-07-22 ┆ 03:48:00      ┆ 81014  ┆ 1.894  ┆ false        ┆ Product      │
 │ Christina  ┆ Female ┆ 2002-08-06 ┆ 13:19:00      ┆ 118780 ┆ 9.096  ┆ true         ┆ Engineering  │
 │ Jean       ┆ Female ┆ 1993-12-18 ┆ 09:07:00      ┆ 119082 ┆ 16.18  ┆ false        ┆ Business     │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Development  │
 │ Theresa    ┆ Female ┆ 2006-10-10 ┆ 01:12:00      ┆ 85182  ┆ 16.675 ┆ false        ┆ Sales        │
 │ Rachel     ┆ Female ┆ 2009-02-16 ┆ 20:47:00      ┆ 142032 ┆ 12.599 ┆ false        ┆ Business     │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Development  │
 │ Linda      ┆ Female ┆ 1981-10-19 ┆ 20:49:00      ┆ 57427  ┆ 9.557  ┆ true         ┆ Client       │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Services     │
 │ Stephanie  ┆ Female ┆ 1986-09-13 ┆ 01:52:00      ┆ 36844  ┆ 5.574  ┆ true         ┆ Business     │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Development  │
 │ Beverly    ┆ Female ┆ 1998-09-09 ┆ 20:26:00      ┆ 121918 ┆ 15.835 ┆ false        ┆ Legal        │
 │ Marilyn    ┆ Female ┆ 1980-12-07 ┆ 03:16:00      ┆ 73524  ┆ 5.207  ┆ true         ┆ Marketing    │
 │ Cynthia    ┆ Female ┆ 1988-11-16 ┆ 18:54:00      ┆ 145146 ┆ 7.482  ┆ true         ┆ Product      │
 │ Kathy      ┆ Female ┆ 2005-06-22 ┆ 04:51:00      ┆ 66820  ┆ 9.0    ┆ true         ┆ Client       │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Services     │
 │ Nancy      ┆ Female ┆ 2000-09-23 ┆ 08:05:00      ┆ 94976  ┆ 13.83  ┆ true         ┆ Engineering  │
 │ Sara       ┆ Female ┆ 2007-08-15 ┆ 09:23:00      ┆ 83677  ┆ 8.999  ┆ false        ┆ Engineering  │
 │ Karen      ┆ Female ┆ 1999-11-30 ┆ 07:46:00      ┆ 102488 ┆ 17.653 ┆ true         ┆ Product      │
 │ Theresa    ┆ Female ┆ 2010-04-11 ┆ 07:18:00      ┆ 72670  ┆ 1.481  ┆ true         ┆ Engineering  │
 │ Irene      ┆ Female ┆ 1997-05-07 ┆ 09:32:00      ┆ 66851  ┆ 11.279 ┆ false        ┆ Engineering  │
 │ Denise     ┆ Female ┆ 2001-11-06 ┆ 12:03:00      ┆ 106862 ┆ 3.699  ┆ false        ┆ Business     │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Development  │
 │ null       ┆ Female ┆ 2007-06-12 ┆ 17:25:00      ┆ 58112  ┆ 19.414 ┆ null         ┆ Marketing    │
 │ Nancy      ┆ Female ┆ 2012-12-15 ┆ 23:57:00      ┆ 125250 ┆ 2.672  ┆ true         ┆ Business     │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Development  │
 │ Rachel     ┆ Female ┆ 1999-08-16 ┆ 06:53:00      ┆ 51178  ┆ 9.735  ┆ true         ┆ Finance      │
 │ Frances    ┆ Female ┆ 1999-04-04 ┆ 16:19:00      ┆ 90582  ┆ 4.709  ┆ true         ┆ Sales        │
 │ Bonnie     ┆ Female ┆ 1991-07-02 ┆ 01:27:00      ┆ 104897 ┆ 5.118  ┆ true         ┆ Human        │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Resources    │
 │ Margaret   ┆ Female ┆ 1988-09-10 ┆ 12:42:00      ┆ 131604 ┆ 7.353  ┆ true         ┆ Distribution │
 │ Robin      ┆ Female ┆ 1983-06-04 ┆ 15:15:00      ┆ 114797 ┆ 5.965  ┆ true         ┆ Sales        │
 │ Bonnie     ┆ Female ┆ 1988-11-13 ┆ 15:30:00      ┆ 115814 ┆ 4.99   ┆ false        ┆ Product      │
 │ Doris      ┆ Female ┆ 2004-08-20 ┆ 05:51:00      ┆ 83072  ┆ 7.511  ┆ false        ┆ Finance      │
 │ Annie      ┆ Female ┆ 1993-01-30 ┆ 02:05:00      ┆ 144887 ┆ 8.276  ┆ true         ┆ Sales        │
 │ Donna      ┆ Female ┆ 1991-11-27 ┆ 13:59:00      ┆ 64088  ┆ 6.155  ┆ true         ┆ Legal        │

In [ ]:
battle
  └── yyyy=2024
       └── mm=10
           ├── dd=01
           │   └── battle.parquet
           ├── dd=02
           │   └── battle.parquet
           ├── dd=03
           │   └── battle.parquet
           └── dd=04
               └── battle.parquet

In [4]:
battle = pl.read_parquet(
    source='../dataset/parquet_partition/battle/',
    hive_partitioning=True
    )

battle.columns

['id',
 'player1_id',
 'player2_id',
 'winner_id',
 'battle_date',
 'battle_datetime',
 'battle_timestamp',
 'yyyy',
 'mm',
 'dd']

In [83]:
battle.write_parquet(
    file="test_path",
    partition_by=['yyyy','mm','dd']
    )

In [84]:
import pandas as pd

aaa = battle.to_pandas()

In [ ]:
aaa.to_parquet(
    "hahaha",
    partition_cols=['yyyy','mm','dd']
    )

## 3. Lazy Frame

In [19]:
lf = pl.scan_csv("../dataset/emp.csv")

type(lf.collect())

polars.dataframe.frame.DataFrame

In [16]:
lf.select(pl.first())

In [9]:
aa = dir(df)
bb = dir(lf)

print(set(bb) - set(aa))

{'show_graph', '_fetch', '_from_pyldf', '_ldf', 'explain', 'collect_async', 'sink_ipc', '_set_sink_optimizations', 'sink_parquet', 'fetch', 'collect', 'with_context', 'profile', 'sink_ndjson', 'first', '_scan_python_function', 'sink_csv', 'inspect', '_comparison_error', 'map_batches', 'cache', 'last'}

In [ ]:
show_graph
explain
sink_csv, sink_parquet
fetch
profile
inspect

In [40]:
lazy_df = lf.group_by('Team').agg(
    cnt = pl.count('Team'),
    max_sal = pl.max('Salary'),
    mean_sal = pl.mean('Salary'),
    min_sal = pl.min('Salary'),
    mean_bonus = pl.mean('Bonus'),
    ).sort('mean_sal', descending=True)

In [45]:
lf.collect_schema()

Schema([('First Name', String),
        ('Gender', String),
        ('Start Date', String),
        ('Last Login Time', String),
        ('Salary', Int64),
        ('Bonus', Float64),
        ('Senior Management', Boolean),
        ('Team', String)])

In [54]:
lazy_df.show_graph(
    # figsize=(5,16)
    output_path="graph.pdf"
    )

In [48]:
print(lazy_df.explain())

SORT BY [col("mean_sal")]
  AGGREGATE
  	[col("Team").count().alias("cnt"), col("Salary").max().alias("max_sal"), col("Salary").mean().alias("mean_sal"), col("Salary").min().alias("min_sal"), col("Bonus").mean().alias("mean_bonus")] BY [col("Team")] FROM
    simple π 3/3 ["Team", "Salary", "Bonus"]
      Csv SCAN [../dataset/emp.csv]
      PROJECT 3/8 COLUMNS

In [ ]:
# 결과를 CSV 파일로 저장
lazy_df.sink_csv("output.csv")

# 결과를 Parquet 파일로 저장
lazy_df.sink_parquet("output.parquet")

In [57]:
lazy_df.fetch(10)

C:\Users\YEIN\AppData\Local\Temp\ipykernel_2220\2761988666.py:1: DeprecationWarning: `LazyFrame.fetch` is deprecated. `LazyFrame.fetch` is deprecated; use `LazyFrame.collect` instead, in conjunction with a call to `head`.
  type(lazy_df.fetch(10))

polars.dataframe.frame.DataFrame

In [51]:
lazy_df.profile()

(shape: (11, 6)
 ┌──────────────────────┬─────┬─────────┬──────────────┬─────────┬────────────┐
 │ Team                 ┆ cnt ┆ max_sal ┆ mean_sal     ┆ min_sal ┆ mean_bonus │
 │ ---                  ┆ --- ┆ ---     ┆ ---          ┆ ---     ┆ ---        │
 │ str                  ┆ u32 ┆ i64     ┆ f64          ┆ i64     ┆ f64        │
 ╞══════════════════════╪═════╪═════════╪══════════════╪═════════╪════════════╡
 │ Engineering          ┆ 92  ┆ 147362  ┆ 94269.195652 ┆ 36946   ┆ 10.462989  │
 │ Finance              ┆ 102 ┆ 149908  ┆ 92219.480392 ┆ 35381   ┆ 10.186873  │
 │ Sales                ┆ 94  ┆ 149654  ┆ 92173.43617  ┆ 35802   ┆ 10.116915  │
 │ Business Development ┆ 101 ┆ 147417  ┆ 91866.316832 ┆ 36844   ┆ 10.572376  │
 │ Human Resources      ┆ 91  ┆ 149903  ┆ 90944.527473 ┆ 35203   ┆ 9.993879   │
 │ null                 ┆ 0   ┆ 148291  ┆ 90763.139535 ┆ 37919   ┆ 10.384395  │
 │ Marketing            ┆ 98  ┆ 149456  ┆ 90435.591837 ┆ 36643   ┆ 10.353449  │
 │ Legal                ┆ 88  ┆ 148985  ┆ 89303.613636 ┆ 35061   ┆ 10.32283   │
 │ Product              ┆ 95  ┆ 149684  ┆ 88665.505263 ┆ 35013   ┆ 9.791484   │
 │ Distribution         ┆ 90  ┆ 149105  ┆ 88500.466667 ┆ 35575   ┆ 9.615644   │
 │ Client Services      ┆ 106 ┆ 147183  ┆ 88224.424528 ┆ 35095   ┆ 10.495104  │
 └──────────────────────┴─────┴─────────┴──────────────┴─────────┴────────────┘,
 shape: (5, 3)
 ┌─────────────────────────────────┬───────┬──────┐
 │ node                            ┆ start ┆ end  │
 │ ---                             ┆ ---   ┆ ---  │
 │ str                             ┆ u64   ┆ u64  │
 ╞═════════════════════════════════╪═══════╪══════╡
 │ optimization                    ┆ 0     ┆ 5    │
 │ csv(../dataset/emp.csv)         ┆ 5     ┆ 598  │
 │ simple-projection(Team, Salary… ┆ 600   ┆ 607  │
 │ group_by(Team)                  ┆ 609   ┆ 1180 │
 │ sort(mean_sal)                  ┆ 1185  ┆ 1244 │
 └─────────────────────────────────┴───────┴──────┘)

In [35]:
lazy_df.show_graph()

In [ ]:
lf.filter(pl.col("Salary") > 50000).show_graph()

ColumnNotFoundError: unable to find column "Salary"; valid columns: ["a", "b", "c"]

Resolved plan until failure:

	---> FAILED HERE RESOLVING 'filter' <---
DF ["a", "b", "c"]; PROJECT */3 COLUMNS; SELECTION: None

In [5]:
lf.filter(pl.col("Salary") > 50000).inspect()

In [6]:
lf.filter(pl.col("Salary") > 50000).profile()

(shape: (854, 8)
 ┌────────────┬────────┬────────────┬───────────────┬────────┬────────┬──────────────┬──────────────┐
 │ First Name ┆ Gender ┆ Start Date ┆ Last Login    ┆ Salary ┆ Bonus  ┆ Senior       ┆ Team         │
 │ ---        ┆ ---    ┆ ---        ┆ Time          ┆ ---    ┆ ---    ┆ Management   ┆ ---          │
 │ str        ┆ str    ┆ str        ┆ ---           ┆ i64    ┆ f64    ┆ ---          ┆ str          │
 │            ┆        ┆            ┆ str           ┆        ┆        ┆ bool         ┆              │
 ╞════════════╪════════╪════════════╪═══════════════╪════════╪════════╪══════════════╪══════════════╡
 │ Douglas    ┆ Male   ┆ 8/6/1993   ┆ 12:42 PM      ┆ 97308  ┆ 6.945  ┆ true         ┆ Marketing    │
 │ Thomas     ┆ Male   ┆ 3/31/1996  ┆ 6:53 AM       ┆ 61933  ┆ 4.17   ┆ true         ┆ null         │
 │ Maria      ┆ Female ┆ 4/23/1993  ┆ 11:17 AM      ┆ 130590 ┆ 11.858 ┆ false        ┆ Finance      │
 │ Jerry      ┆ Male   ┆ 3/4/2005   ┆ 1:00 PM       ┆ 138705 ┆ 9.34   ┆ true         ┆ Finance      │
 │ Larry      ┆ Male   ┆ 1/24/1998  ┆ 4:47 PM       ┆ 101004 ┆ 1.389  ┆ true         ┆ Client       │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Services     │
 │ Dennis     ┆ Male   ┆ 4/18/1987  ┆ 1:35 AM       ┆ 115163 ┆ 10.125 ┆ false        ┆ Legal        │
 │ Ruby       ┆ Female ┆ 8/17/1987  ┆ 4:20 PM       ┆ 65476  ┆ 10.012 ┆ true         ┆ Product      │
 │ Angela     ┆ Female ┆ 11/22/2005 ┆ 6:29 AM       ┆ 95570  ┆ 18.523 ┆ true         ┆ Engineering  │
 │ Frances    ┆ Female ┆ 8/8/2002   ┆ 6:51 AM       ┆ 139852 ┆ 7.524  ┆ true         ┆ Business     │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Development  │
 │ Louise     ┆ Female ┆ 8/12/1980  ┆ 9:01 AM       ┆ 63241  ┆ 15.132 ┆ true         ┆ null         │
 │ Julie      ┆ Female ┆ 10/26/1997 ┆ 3:19 PM       ┆ 102508 ┆ 12.637 ┆ true         ┆ Legal        │
 │ Brandon    ┆ Male   ┆ 12/1/1980  ┆ 1:08 AM       ┆ 112807 ┆ 17.492 ┆ true         ┆ Human        │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Resources    │
 │ Gary       ┆ Male   ┆ 1/27/2008  ┆ 11:40 PM      ┆ 109831 ┆ 5.831  ┆ false        ┆ Sales        │
 │ Lillian    ┆ Female ┆ 6/5/2016   ┆ 6:09 AM       ┆ 59414  ┆ 1.256  ┆ false        ┆ Product      │
 │ Jeremy     ┆ Male   ┆ 9/21/2010  ┆ 5:56 AM       ┆ 90370  ┆ 7.369  ┆ false        ┆ Human        │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Resources    │
 │ Shawn      ┆ Male   ┆ 12/7/1986  ┆ 7:45 PM       ┆ 111737 ┆ 6.414  ┆ false        ┆ Product      │
 │ Diana      ┆ Female ┆ 10/23/1981 ┆ 10:27 AM      ┆ 132940 ┆ 19.082 ┆ false        ┆ Client       │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Services     │
 │ Donna      ┆ Female ┆ 7/22/2010  ┆ 3:48 AM       ┆ 81014  ┆ 1.894  ┆ false        ┆ Product      │
 │ Lois       ┆ null   ┆ 4/22/1995  ┆ 7:18 PM       ┆ 64714  ┆ 4.934  ┆ true         ┆ Legal        │
 │ Matthew    ┆ Male   ┆ 9/5/1995   ┆ 2:12 AM       ┆ 100612 ┆ 13.645 ┆ false        ┆ Marketing    │
 │ Joshua     ┆ null   ┆ 3/8/2012   ┆ 1:58 AM       ┆ 90816  ┆ 18.816 ┆ true         ┆ Client       │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Services     │
 │ null       ┆ Male   ┆ 6/14/2012  ┆ 4:19 PM       ┆ 125792 ┆ 5.042  ┆ null         ┆ null         │
 │ John       ┆ Male   ┆ 7/1/1992   ┆ 10:08 PM      ┆ 97950  ┆ 13.873 ┆ false        ┆ Client       │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Services     │
 │ Scott      ┆ null   ┆ 7/11/1991  ┆ 6:58 PM       ┆ 122367 ┆ 5.218  ┆ false        ┆ Legal        │
 │ Terry      ┆ Male   ┆ 11/27/1981 ┆ 6:30 PM       ┆ 124008 ┆ 13.464 ┆ true         ┆ Client       │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Services     │
 │ Benjamin   ┆ Male   ┆ 1/26/2005  ┆ 10:06 PM      ┆ 79529  ┆ 7.008  ┆ true         ┆ Legal        │
 │ Christina  ┆ Female ┆ 8/6/2002   ┆ 1:19 PM       ┆ 118780 ┆ 9.096  ┆ true         ┆ Engineering  │
 │ Joyce      ┆ null   ┆ 2/20/2005  ┆ 2:40 PM       ┆ 88657  ┆ 12.752 ┆ false        ┆ Product      │
 │ null       ┆ Male   ┆ 8/21/1998  ┆ 2:27 PM       ┆ 122340 ┆ 6.417  ┆ null         ┆ null         │
 │ Jean       ┆ Female ┆ 12/18/1993 ┆ 9:07 AM       ┆ 119082 ┆ 16.18  ┆ false        ┆ Business     │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Development  │
 │ Jerry      ┆ Male   ┆ 1/10/2004  ┆ 12:56 PM      ┆ 95734  ┆ 19.096 ┆ false        ┆ Client       │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Services     │
 │ Theresa    ┆ Female ┆ 10/10/2006 ┆ 1:12 AM       ┆ 85182  ┆ 16.675 ┆ false        ┆ Sales        │
 │ Rachel     ┆ Female ┆ 2/16/2009  ┆ 8:47 PM       ┆ 142032 ┆ 12.599 ┆ false        ┆ Business     │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Development  │
 │ Linda      ┆ Female ┆ 10/19/1981 ┆ 8:49 PM       ┆ 57427  ┆ 9.557  ┆ true         ┆ Client       │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Services     │
 │ null       ┆ Male   ┆ 1/29/2016  ┆ 2:33 AM       ┆ 122173 ┆ 7.797  ┆ null         ┆ Client       │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Services     │
 │ Michael    ┆ Male   ┆ 10/10/2008 ┆ 11:25 AM      ┆ 99283  ┆ 2.665  ┆ true         ┆ Distribution │
 │ Christine  ┆ null   ┆ 6/28/2015  ┆ 1:08 AM       ┆ 66582  ┆ 11.308 ┆ true         ┆ Business     │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Development  │
 │ Beverly    ┆ Female ┆ 9/9/1998   ┆ 8:26 PM       ┆ 121918 ┆ 15.835 ┆ false        ┆ Legal        │
 │ Marilyn    ┆ Female ┆ 12/7/1980  ┆ 3:16 AM       ┆ 73524  ┆ 5.207  ┆ true         ┆ Marketing    │
 │ Cynthia    ┆ Female ┆ 11/16/1988 ┆ 6:54 PM       ┆ 145146 ┆ 7.482  ┆ true         ┆ Product      │
 │ Roger      ┆ Male   ┆ 4/17/1980  ┆ 11:32 AM      ┆ 88010  ┆ 13.886 ┆ true         ┆ Sales        │
 │ Bruce      ┆ Male   ┆ 11/28/2009 ┆ 10:47 PM      ┆ 114796 ┆ 6.796  ┆ false        ┆ Finance      │
 │ Kathy      ┆ Female ┆ 6/22/2005  ┆ 4:51 AM       ┆ 66820  ┆ 9.0    ┆ true         ┆ Client       │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Services     │
 │ Clarence   ┆ Male   ┆ 3/26/1996  ┆ 5:57 AM       ┆ 93581  ┆ 6.083  ┆ true         ┆ Business     │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Development  │
 │ Chris      ┆ null   ┆ 1/24/1980  ┆ 12:13 PM      ┆ 113590 ┆ 3.055  ┆ false        ┆ Sales        │
 │ Nancy      ┆ Female ┆ 9/23/2000  ┆ 8:05 AM       ┆ 94976  ┆ 13.83  ┆ true         ┆ Engineering  │
 │ Sara       ┆ Female ┆ 8/15/2007  ┆ 9:23 AM       ┆ 83677  ┆ 8.999  ┆ false        ┆ Engineering  │
 │ Karen      ┆ Female ┆ 11/30/1999 ┆ 7:46 AM       ┆ 102488 ┆ 17.653 ┆ true         ┆ Product      │
 │ Carl       ┆ Male   ┆ 5/3/2006   ┆ 5:55 PM       ┆ 130276 ┆ 16.084 ┆ true         ┆ Finance      │
 │ Henry      ┆ Male   ┆ 6/26/1996  ┆ 1:44 AM       ┆ 64715  ┆ 15.107 ┆ true         ┆ Human        │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Resources    │
 │ …          ┆ …      ┆ …          ┆ …             ┆ …      ┆ …      ┆ …            ┆ …            │
 │ Ralph      ┆ null   ┆ 7/28/1995  ┆ 6:53 PM       ┆ 70635  ┆ 2.147  ┆ false        ┆ Client       │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Services     │
 │ Andrew     ┆ Male   ┆ 9/28/1990  ┆ 9:38 AM       ┆ 137386 ┆ 8.611  ┆ true         ┆ Distribution │
 │ William    ┆ Male   ┆ 6/26/1997  ┆ 8:33 AM       ┆ 104840 ┆ 15.653 ┆ true         ┆ Engineering  │
 │ Lori       ┆ Female ┆ 11/20/2015 ┆ 1:15 PM       ┆ 75498  ┆ 6.537  ┆ true         ┆ Marketing    │
 │ Wayne      ┆ Male   ┆ 9/8/2006   ┆ 11:09 AM      ┆ 67471  ┆ 2.728  ┆ false        ┆ Engineering  │
 │ Kenneth    ┆ Male   ┆ 5/10/2006  ┆ 8:24 AM       ┆ 101914 ┆ 1.905  ┆ true         ┆ Distribution │
 │ Gerald     ┆ null   ┆ 4/15/1989  ┆ 12:44 PM      ┆ 93712  ┆ 17.426 ┆ true         ┆ Distribution │
 │ null       ┆ Female ┆ 9/15/1985  ┆ 1:50 AM       ┆ 133472 ┆ 16.941 ┆ null         ┆ Distribution │
 │ null       ┆ Male   ┆ 7/30/2012  ┆ 3:07 PM       ┆ 107351 ┆ 5.329  ┆ null         ┆ Marketing    │
 │ Ashley     ┆ Female ┆ 3/31/2006  ┆ 1:24 PM       ┆ 142410 ┆ 11.048 ┆ true         ┆ Engineering  │
 │ Paula      ┆ Female ┆ 5/21/1983  ┆ 11:42 AM      ┆ 58423  ┆ 10.833 ┆ false        ┆ Business     │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Development  │
 │ null       ┆ Female ┆ 9/14/2010  ┆ 5:19 AM       ┆ 143638 ┆ 9.662  ┆ null         ┆ null         │
 │ Teresa     ┆ Female ┆ 1/22/2013  ┆ 3:17 PM       ┆ 113425 ┆ 11.907 ┆ true         ┆ Human        │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Resources    │
 │ Randy      ┆ Male   ┆ 2/25/2012  ┆ 5:33 AM       ┆ 57266  ┆ 14.077 ┆ false        ┆ Product      │
 │ Joe        ┆ Male   ┆ 1/19/1980  ┆ 4:06 PM       ┆ 119667 ┆ 1.148  ┆ true         ┆ Finance      │
 │ Sarah      ┆ Female ┆ 8/17/2014  ┆ 11:08 PM      ┆ 127118 ┆ 11.176 ┆ false        ┆ Legal        │
 │ Beverly    ┆ Female ┆ 10/17/1986 ┆ 12:51 AM      ┆ 80838  ┆ 8.115  ┆ false        ┆ Engineering  │
 │ Jeffrey    ┆ Male   ┆ 2/3/1984   ┆ 1:26 PM       ┆ 70990  ┆ 15.901 ┆ true         ┆ Sales        │
 │ Stephen    ┆ Male   ┆ 10/29/1989 ┆ 11:34 PM      ┆ 93997  ┆ 18.093 ┆ true         ┆ Business     │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Development  │
 │ Antonio    ┆ null   ┆ 6/18/1989  ┆ 9:37 PM       ┆ 103050 ┆ 3.05   ┆ false        ┆ Legal        │
 │ Jonathan   ┆ Male   ┆ 8/21/2013  ┆ 12:45 AM      ┆ 121797 ┆ 16.923 ┆ false        ┆ Product      │
 │ Ann        ┆ Female ┆ 9/23/1994  ┆ 11:15 AM      ┆ 89443  ┆ 17.94  ┆ true         ┆ Sales        │
 │ Catherine  ┆ Female ┆ 9/25/1989  ┆ 1:31 AM       ┆ 68164  ┆ 18.393 ┆ false        ┆ Client       │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Services     │
 │ Louis      ┆ Male   ┆ 8/16/2011  ┆ 5:19 PM       ┆ 93022  ┆ 9.146  ┆ true         ┆ Human        │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Resources    │
 │ Thomas     ┆ Male   ┆ 3/12/2016  ┆ 3:10 PM       ┆ 105681 ┆ 19.572 ┆ false        ┆ Engineering  │
 │ Alice      ┆ Female ┆ 9/3/1988   ┆ 8:54 PM       ┆ 63571  ┆ 15.397 ┆ true         ┆ Product      │
 │ Patrick    ┆ Male   ┆ 12/30/2002 ┆ 2:01 AM       ┆ 75423  ┆ 5.368  ┆ true         ┆ Business     │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Development  │
 │ Victor     ┆ null   ┆ 7/28/2006  ┆ 2:49 PM       ┆ 76381  ┆ 11.159 ┆ true         ┆ Sales        │
 │ Russell    ┆ Male   ┆ 5/10/2013  ┆ 11:08 PM      ┆ 137359 ┆ 11.105 ┆ false        ┆ Business     │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Development  │
 │ Harry      ┆ Male   ┆ 8/30/2011  ┆ 6:31 PM       ┆ 67656  ┆ 16.455 ┆ true         ┆ Client       │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Services     │
 │ Susan      ┆ Female ┆ 4/7/1995   ┆ 10:05 PM      ┆ 92436  ┆ 12.467 ┆ false        ┆ Sales        │
 │ Denise     ┆ Female ┆ 10/19/1992 ┆ 5:42 AM       ┆ 137954 ┆ 4.195  ┆ true         ┆ Legal        │
 │ Sarah      ┆ Female ┆ 12/4/1995  ┆ 9:16 AM       ┆ 124566 ┆ 5.949  ┆ false        ┆ Product      │
 │ Sean       ┆ Male   ┆ 1/17/1983  ┆ 2:23 PM       ┆ 66146  ┆ 11.178 ┆ false        ┆ Human        │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Resources    │
 │ Ernest     ┆ Male   ┆ 7/20/2013  ┆ 6:41 AM       ┆ 142935 ┆ 13.198 ┆ true         ┆ Product      │
 │ James      ┆ Male   ┆ 1/15/1993  ┆ 5:19 PM       ┆ 148985 ┆ 19.28  ┆ false        ┆ Legal        │
 │ Rose       ┆ Female ┆ 4/6/1982   ┆ 10:43 AM      ┆ 91411  ┆ 8.639  ┆ true         ┆ Human        │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Resources    │
 │ John       ┆ Male   ┆ 12/23/1982 ┆ 10:35 PM      ┆ 146907 ┆ 11.738 ┆ false        ┆ Engineering  │
 │ Stephen    ┆ null   ┆ 7/10/1983  ┆ 8:10 PM       ┆ 85668  ┆ 1.909  ┆ false        ┆ Legal        │
 │ Donna      ┆ Female ┆ 11/26/1982 ┆ 7:04 AM       ┆ 82871  ┆ 17.999 ┆ false        ┆ Marketing    │
 │ Gloria     ┆ Female ┆ 12/8/2014  ┆ 5:08 AM       ┆ 136709 ┆ 10.331 ┆ true         ┆ Finance      │
 │ Robin      ┆ Female ┆ 7/24/1987  ┆ 1:35 PM       ┆ 100765 ┆ 10.982 ┆ true         ┆ Client       │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Services     │
 │ Rose       ┆ Female ┆ 8/25/2002  ┆ 5:12 AM       ┆ 134505 ┆ 11.051 ┆ true         ┆ Marketing    │
 │ Anthony    ┆ Male   ┆ 10/16/2011 ┆ 8:35 AM       ┆ 112769 ┆ 11.625 ┆ true         ┆ Finance      │
 │ Tina       ┆ Female ┆ 5/15/1997  ┆ 3:53 PM       ┆ 56450  ┆ 19.04  ┆ true         ┆ Engineering  │
 │ George     ┆ Male   ┆ 6/21/2013  ┆ 5:47 PM       ┆ 98874  ┆ 4.479  ┆ true         ┆ Marketing    │
 │ Henry      ┆ null   ┆ 11/23/2014 ┆ 6:09 AM       ┆ 132483 ┆ 16.655 ┆ false        ┆ Distribution │
 │ Russell    ┆ Male   ┆ 5/20/2013  ┆ 12:39 PM      ┆ 96914  ┆ 1.421  ┆ false        ┆ Product      │
 │ Larry      ┆ Male   ┆ 4/20/2013  ┆ 4:45 PM       ┆ 60500  ┆ 11.985 ┆ false        ┆ Business     │
 │            ┆        ┆            ┆               ┆        ┆        ┆              ┆ Development  │
 │ Albert     ┆ Male   ┆ 5/15/2012  ┆ 6:24 PM       ┆ 129949 ┆ 10.169 ┆ true         ┆ Sales        │
 └────────────┴────────┴────────────┴───────────────┴────────┴────────┴──────────────┴──────────────┘,
 shape: (2, 3)
 ┌─────────────────────────────────┬───────┬─────┐
 │ node                            ┆ start ┆ end │
 │ ---                             ┆ ---   ┆ --- │
 │ str                             ┆ u64   ┆ u64 │
 ╞═════════════════════════════════╪═══════╪═════╡
 │ optimization                    ┆ 0     ┆ 192 │
 │ csv(../dataset/emp.csv, predic… ┆ 192   ┆ 637 │
 └─────────────────────────────────┴───────┴─────┘)